{#
/**
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 */#}

<div class="{{ classes.detail }}"{{ attributes }}>
   {% if left_content %}
         {{ left_content|raw }}
   {% endif %}
      {#{% if label and !in_array('detail-item--secondary', $detail_classes)) %}#}
      <div class="sb-d {{ classes.label }}">
         {{ content.field_title }}
      </div>
      {#{%  endif %}#}
      {% if content.field_sidebar_text %}
         <div class="sb-b {{ classes.body }}">
            {% if phone  %}
               <a href="tel:{{ content.field_sidebar_text }}">{{ content.field_sidebar_text }}</a>
            {% else %}
               {{ content.field_sidebar_text }}
            {% endif %}
         </div>
      {% endif %}
</div>
