{#
/**
 * @file
 * Theme override for a field.
 */
#}
{#
  Note: this template overrides the template provided by fences at
  modules/contrib/fences/field.html.twig because hook_theme_registry_alter in
  bos_theme re-assigns this template after the fences modules theme_registry_alter()
  assigns its custom template.
  (Because the registry->build() function processes hook_theme_registry_alter()
  functions in themes run *after* any functions defined in modules).
  @see notes in bos_theme_theme_registry_alter().
  This template is customized from the template lifted out of fences v8.x.2.0-alpha1.
#}
{%
    set classes = [
    'field',
    'field-name-' ~ field_name|clean_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
]
%}
{#{{  breakpoint() }}#}

  {% if display_item_tag %}
    <{{ field_item_tag|default('div') }}{{ item.attributes.addClass('field-item') }}>
  {% endif %}

  <div class="field field-name-body field-type-text-with-summary field-label-hidden">
      <div class="field-items">
          <div class="field-item even" property="content:encoded">
            {{ element }}
          </div>
      </div>
  </div>

  {% if display_item_tag %}
    </{{ field_item_tag|default('div') }}>
  {% endif %}

