{#
/**
 * @file
 * Default theme implementation to present a component test page entity.
 *
 * This template is used when viewing a registered component test page's page,
 * e.g., /admin/content/component-test-page)/123. 123 being the component test page's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_component_test_page()
 * @see theme's node.html.php
 */
#}

{% set classes = ['clearfix', 'desktop-100'] %}

<article {{ attributes.addClass(classes) }}>

    <div class="brc-lu">
      {% if (content.field_updated_date["#items"]) %}
        Last updated: {{ content.field_updated_date }}
      {% elseif (content.field_published_date["#items"]) %}
        Last updated: {{ content.field_published_date }}
      {% else %}
        Not published yet!
      {% endif %}
    </div>

    <div class="department-info-wrapper desktop-100">
        <div class="column mobile-100 desktop-66-left">

            {% if (title_prefix or title_suffix or display_submitted or unpublished or preview or (not page)) and title %}
                <header>

                    {{  title_prefix  }}

                    {% if (not page) and title %}
                        <h2{{ title_attributes  }}><a href="{{ node_url }}">{{ title }}</a></h2>
                    {% endif %}

                    {{ title_suffix  }}

                </header>
            {% endif %}

            <div class="intro-text supporting-text">
                <p>This is a test page for components on the boston.gov Drupal 8 site.</p>
            </div>

          {% include 'themes/custom/bos_theme/templates/snippets/topic-nav.html.twig' %}

            <div class="body">
                {# We hide the comments and links now so that we can render them later. #}
                {#{{ content|without('created', 'uid', 'comments', 'links') }}#}
                {{ content.body }}
            </div>

        </div>

        <div class="column mobile-100 desktop-33-right">
            <div class="contact-info">
                {% if content.field_contact %}
                    <div>Still have questions? Contact:</div>
                    {{ content.field_contact }}
                {%  endif %}
            </div>
            {% if (content.field_sidebar_components) %}
                <div class="list-item-wrapper">
                    {{ content.field_sidebar_components }}
                </div>
            {% endif %}
        </div>
        <div class="clearfix"></div>

    </div>

    {%  if (content.field_components) %}
        <div class="department-components desktop-100" {{ content_attributes }}>
            {{ content.field_components }}
        </div>
    {% endif %}

    {{ content['links']  }}
    {{ content['comments']  }}

</article>
