{#
/**
 * @file
 * Default theme implementation for a webform base container as html.
 *
 * Available variables:
 * - element: The webform element.
 * - title: The label for the container.
 * - value: The content for the container.
 * - options Associative array of options for element.
 *   - email: Flag to determine if element is for an email.
 */
#}
<div class="dr">
{#  {{ breakpoint() }}#}
  <input type="checkbox" id="dr-tr_{{ value["#id"] }}" class="dr-tr a11y--h">
  <label for="dr-tr_{{ value["#id"] }}" class="dr-h">
    <div class="dr-ic">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 8.5 18 25"><path class="dr-i" d="M16 21L.5 33.2c-.6.5-1.5.4-2.2-.2-.5-.6-.4-1.6.2-2l12.6-10-12.6-10c-.6-.5-.7-1.5-.2-2s1.5-.7 2.2-.2L16 21z" /></svg>
    </div>
    <div class="dr-t">
      {{ value["#title"] }}
    </div>
  </label>
  <div class="dr-c">
    {% for child in value["#children"] %}
      {{ child }}
    {% endfor %}
  </div>
</div>
