{#
 * @file
 * Template to display a view as a table.
 *
 * - $title : The title of this group of rows.  May be empty.
 * - $header: An array of header labels keyed by field id.
 * - $caption: The caption for this table. May be empty.
 * - $header_classes: An array of header classes keyed by field id.
 * - $fields: An array of CSS IDs to use for each field id.
 * - $classes: A class or classes to apply to the table, based on settings.
 * - $row_classes: An array of classes to apply to each row, indexed by row
 *   number. This matches the index in $rows.
 * - $rows: An array of row items. Each row is an array of content.
 *   $rows are keyed by row number, fields within rows are keyed by field ID.
 * - $field_classes: An array of classes to apply to each field, indexed by
 *   field id, then row number. This matches the index in $rows.
 * @ingroup views_templates
 #}
<table {{ if ($classes) { 'class="'. classes . ' responsive-table responsive-table--horizontal" ' }  }}{{ attributes }}>
   {{ if (title or not mpty($caption)) :  }}
     <caption>{{ caption . $title }}</caption>
  {% endif %}
  {{ if ($header) :  }}
    <thead>
      <tr>
{# TODO: review variable assignment:         {{ foreach (header as field: $label):  }} #}
          <th {{ if ($header_classes[$field]) { 'class="'. $header_classes[$field] . '" ' }  }} scope="col">
            {{ label }}
          </th>
        {{ endforeach }}
      </tr>
    </thead>
  {% endif %}
  <tbody>
{# TODO: review variable assignment:     {{ foreach (rows as row_count: $row):  }} #}
      <tr {{ if ($row_classes[$row_count]) { 'class="' . implode(' ', $row_classes[$row_count]) .' b--w"' }  }}>
{# TODO: review variable assignment:         {{ foreach (row as field: $content):  }} #}
          <td {{ if ($field_classes[$field][$row_count]) { 'class="'. $field_classes[$field][$row_count] . '" ' }  }}{{ drupal_attributes($field_attributes[$field][$row_count]) }}>
            {{ content }}
          </td>
        {{ endforeach }}
      </tr>
    {{ endforeach }}
  </tbody>
</table>
