{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https%0%
 #}
<article class="{{ classes }} clearfix node-{{ node.nid }} desktop-3-col tablet-2-col mobile-1-col"{{ attributes }}>
  <div class="topic-wrapper">
    <div class="topic-highlight-area">
      <a href="{{ node_url }}" class="item-link" title="Go to {{ title }}">{{ title }}</a>
      <div class="image-wrapper">
        {{ content.field_intro_image }}
      </div>
      <div class="topic-details">
        <div class="grid-of-topics-label">
          Guide:
        </div>
        <div class="topic-listing-title">
          {{ title }}
        </div>
      </div>
    </div>
    <div class="topic-link-area">
      <ul class="topics-links">
        {{ foreach(nav_links as $nav_link):  }}
          <li>{{ nav_link }}</li>
        {{ endforeach }}
        {{ if ($num_components) :  }}
          <li><a href="{{ node_url }}"> SEE {{ num_components }} MORE </a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</article>
