{% if not is_expired %}
<article id="node-{{ node.id }}" class="{{ classes }} event-featured-item-wrapper clearfix">
  <div class="desktop-2-col featured-item-details featured-item-details--relative">
    <div class="date-flag date-flag--blue date-flag--left">
      {% if content.field_event_dates %}
        {{ content.field_event_dates }}
      {% endif %}
    </div>
    <h3 class="featured-event-title">{{ content.title.0['#context'].value }}</h3>
    <div class="featured-description">
      {{ content.field_description.0['#text']|raw }}
    </div>
    {% if content.field_details_link %}
      <div class="external-link external-link--inline">
        <a class="button" href="{{ content.field_details_link.0['#url'] }}">Event website<span class="a11y--hidden"> for {{ title }}</span></a>
      </div>
    {% else %}
      <a class="button" href="{{ node.url }}">Event details<span class="a11y--hidden"> for {{ title }}</span></a>
    {% endif %}
  </div>
  <div class="desktop-2-col featured-item-thumb">
    <div class="featured-thumb-wrapper">
      <div class="featured-banner">Featured</div>
      {{ content.field_thumbnail }}
    </div>
  </div>
</article>
{% endif %}

<article id="node-{{ node.id }}" class="{{ classes }} post-featured-item-wrapper clearfix mobile-1-col">
  <a href="{{ node.url }}" class="item-link">{{ node.label }}</a>
  <div class="mobile-1-col tablet-1-col desktop-2-col thumb-column featured-item-thumb featured-post-thumb">
      <div class="featured-thumb-wrapper">
        {% if content.field_thumbnail %}
          {{ content.field_thumbnail }}
        {% else %}
          <div class="news-item-default-image" style="background-image: url('{{ asset_url }}/images/public/icons/news.svg');">
            <span>Default News image</span>
          </div>
        {% endif %}
        <div class="date-flag">{{ content.field_published_date }}</div>
      </div>
    </div>
    <div class="mobile-1-col tablet-1-col desktop-2-col featured-item-details">
      <div class="text-wrapper">
        <div class="feature-header">
          <h3 class="title">{{ node.label }}</h3>
        <div class="department-title">{{ content.field_contact }}</div>
      </div>
      <div class="intro-text">{{ content.field_intro_text }}</div>
    </div>
  </div>
</article>
