{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}

<div class="g--6 g--6--xxxl m-b300 m-t500 news-item news-item-short-listing news-item-news">

  <a href="{{ fields.view_node.content|striptags|trim }}" class="item-link n--a" title="{{ fields.view_node.content|striptags|trim }}" aria-label="{{ fields.title.content }}">

  <div class="n--a-news-item-wrapper">
    <svg class="svg-date-flag n--a-date-flag" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 34.08 44.31">
      <title>{{ fields.field_published_date.content }}</title>
      <path d="M32.26,42.16l-15.3-7-15.3,7v-40h30.6Z" fill="#ffffff" stroke="#ECECEC" stroke-miterlimit="10" />
    </svg>
    <p class="svg-date-flag n--a-date-flag-text date-flag-text">{{ fields.field_published_date.content }}</p>

    <div class="g">
      <div class="g--5">
        <div class="n--a-thumb-wrapper">

        {% if thumbnail %}
          {{ fields.field_thumbnail.content }}
        {% else %}
          <span class="visually-hidden">{{ fields.title.content }}</span>
        {% endif %}

        </div>
      </div>

      <div class="g--7">
        <div class="n--a-text-wrapper">
          <h3 class="n--a-title"><span>{{ fields.title.content }}</span></h3>
          <div class="n--a-department-title">{{ fields.field_contact.content }}</div>
        </div>
      </div>
    </div>
  </div>
  </a>

</div>
