{#
/**
 * @file
 * Template used to style the results from a search.
 *
 * Available variables:
 * - content: markup provided by the search as a response header/summary
 * - dataset: a set of records returned from the search.
 *
 * @see template_preprocess_input()
 */
#}
{#{{breakpoint()}}#}
<div id="rsb-results">
  {% if content.recordlisting %}
    <div {{ attributes.addClass("b b--p300 b-c--wbb") }}>

      {# Render the Message that goes above the search results #}
      {{ content.intro }}

      {# Now render the Results. #}
      <div class="g">
        <div class="g--2 m-b300"><span class="t tab-li-a txt-l">Street</span></div>
        <div class="g--2 m-b300"><span class="t tab-li-a txt-l">District</span></div>
        <div class="g--2 m-b300"><span class="t tab-li-a txt-l">Side</span></div>
        <div class="g--2 m-b300"><span class="t tab-li-a txt-l">Section</span></div>
        <div class="g--2 m-b300"><span class="t tab-li-a txt-l">Schedule</span></div>
        <div class="g--2 m-b300"><span class="t tab-li-a txt-l">Reminders</span></div>
      </div>

      {{ content.recordlisting }}

    </div>
  {% endif %}

  {{ content.recordlistingfooter }}

</div>
