{#
/**
 * @file
 * Template used to style the results from a search.
 *
 * Available variables:
 * - content: markup provided by the search asa response header/summary
 * - dataset: a set of records returned from the search.
 *
 * @see template_preprocess_input()
 * @see patterns https://patterns.lndo.site/components/detail/grid--default for flex-powered grids (preferred).
 * @see patterns https://patterns.lndo.site/components/detail/table--default for table format.
 */
#}
<div id="rsb-results">
{% if content or dataset %}
  <div class="b b--p300 b-c--wbb">

    {{ content }}

    {% if dataset %}
      <div class="g">
        <div class="g--2 m-b300 t tab-li-a txt-l">Header</div>
        <div class="g--2 m-b300 t tab-li-a txt-l">Header</div>
        <div class="g--2 m-b300 t tab-li-a txt-l">Header</div>
        <div class="g--2 m-b300 t tab-li-a txt-l">Header</div>
        <div class="g--2 m-b300 t tab-li-a txt-l">Header</div>
        <div class="g--2 m-b300 t tab-li-a txt-l">Header</div>
      </div>
      <div class="g">
          {% for key, value in dataset %}
            <div class="g--2 m-b300"><span>{{ value.x }}</span></div>
            <div class="g--2 m-b300"><span>{{ value.x }}</span></div>
            <div class="g--2 m-b300"><span>{{ value.x }}</span></div>
            <div class="g--2 m-b300"><span>{{ value.x }}</span></div>
            <div class="g--2 m-b300"><span>{{ value.x }}</span></div>
            <div class="g--2 m-b300"><span>{{ value.x }}</span></div>
          {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
</div>
