{#
/**
 * @file
 * Template used to style the results from a search.
 *
 * Available variables:
 * - content: markup provided by the search as a response header/summary
 * - dataset: a set of records returned from the search.
 *
 * @see template_preprocess_input()
 */
#}
{% if content or dataset %}
  <div class="b b--p300 b-c--wbb">
    <div class="txt txt-l">{{ content }}</div>
    <table>
      <tr><th>Short Address</th><th>Details</th></tr>
      {% for key, value in dataset %}
        <tr><td class="txt">{{ key }}</td><td class="text">{{ value.address }}<br/>{{ value.name }} {{ value.last }}</td></tr>
      {% endfor %}
    </table>
  </div>
{% endif %}
