{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https%0%
 #}
<article class="{{ classes }} clearfix node-{{ node.nid }} desktop-4-col tablet-3-col mobile-1-col"{{ attributes }}>
  <div class="topic-wrapper">
    <a href="{{ node_url }}">
      <div class="topic-highlight-area">
        {{ content }}
        <div class="topic-details">
          <div class="grid-of-topics-label">
            Guide:
          </div>
          <div class="topic-listing-title">
            {{ title }}
          </div>
        </div>
      </div>
    </a>
  </div>
</article>
