{#
/**
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 */
 #}
<div{{ attributes.setAttribute("style", "display: none;") }}></div>

<div class="detail-item detail-item--middle detail-item__{{ field_name }}">

  <div class="detail-item__left">
    <img src="https://patterns.boston.gov/images/global/icons/{{ content.field_hours_icon.0 }}.svg" class="icon {{ content.field_hours_icon.0 }} sb-ic" alt="{{ content.field_hours_icon.0 }}" />
  </div>

  <div class="detail-item__content">
    {% if content.field_title %}
    <div class="detail-item__label sb-d">
      {{ content.field_title }}
    </div>
    {% endif %}
    <div class="detail-item__body sb-b">
      {{ content.field_custom_hours_text }}
    </div>
  </div>
</div>
