{#
 * @file
 * Returns the HTML for a single Drupal page.
 *
 * Complete documentation for this file is available online.
 *
 * @see https://drupal.org/node/1728148 */
#}
<nav class="nv-m">
  <div class="nv-m-h">
    <div class="nv-m-h-ic">
      <a href="/" title="Go to home page">
        <img src="{{ asset_url }}/images/b-dark.svg" alt="City of Boston" aria-hidden="true" class="nv-m-h-i" />
      </a>
    </div>
    <div id="nv-m-h-t" class="nv-m-h-t">&nbsp;</div>
  </div>
  <div class="nv-m-c">
      {{ page.navigation }}
  </div>
</nav>
<header id="main-menu" class="h" role="banner" data-swiftype-index="false">

    {{ logo }}
    {{ seal }}

</header>

<div class="main err err--403">
  <div class="container">
    <section class="main-content err-content" id="content" role="main">
      <div class="denied-text error-text column desktop-66-left">
        <h1>{{ title }}</h1>
        {#{{ token_replace('[boston:403-page-text]') }}#}
      </div>
    </section>
  </div>
</div>
