{#
 * @file
 * Returns the HTML for a single Drupal page.
 *
 * Complete documentation for this file is available online.
 *
 * @see https://drupal.org/node/1728148 */
#}
<header id="main-menu" class="h" role="banner" data-swiftype-index="false">
    {{ logo }}
    {{ seal }}
</header>
<div class="page">
  <div class="main">
    <div class="container">
      <section class="main-content err-content" id="content" role="main" {{ attributes }}">
        <div class="not-found-text error-text column desktop-50">
          <h1>{{ title }}</h1>
          <p><em>{{ error_text|raw }}</em></p>
          <div class="content bos-search-form">
            {{ search }}
          </div>
        </div>
      </section>
      <div class="err err--404"></div>
    </div>
  </div>
</div>
