{#
/**
 * @file
 * Default theme implementation for BH Project Manager Contact Information.
 *
 * Available variables:
 * - title: The title value of the display.
 * - label: The label value of the display.
 * - name: The name of the Project Manager
 * - phone: The phone number of the Project Manager.
 * - email: The email address of the Project Manger.
 * - classes: Array of classes to be applied to detail, icon, label, and body
 *   elements.
 */
#}


<div class="bh-project-manager-contact m-b300 m-b500--xxl ">
  <div class="t--info br br-b200 m-b400">{{ title }}</div>


  <div class="list-item">
    <div class="detail-item detail-item--middle">
      <div class="detail-item__content">
        <div class="detail-item__body t--cb">
          {{ name }}, {{ label }}
        </div>
      </div>
    </div>
  </div>

  <div class="list-item">
    <div class="detail-item detail-item--middle">
      <div class="detail-item__left t--cb">
        <div class="icon icon-email"></div>
      </div>
      <div class="detail-item__content">
        <div class="detail-item__body detail-item__body--secondary">
          <a href="mailto:{{ email }}" title="Have a question, or just need help? You can send an email to {{ email }} through the form below.">{{ email }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="list-item">
    <div class="detail-item detail-item--middle">
      <div class="detail-item__left t--cb">
        <div class="icon icon-phone"></div>
      </div>
      <div class="detail-item__content">
        <div class="detail-item__body detail-item__body--secondary">
          <a href="tel:{{ phone }}">{{ phone }}</a>
        </div>
      </div>
    </div>
  </div>

</div>
