{#
/**
 * @file
 * Default theme implementation for detail item.
 *
 * Available variables:
 * - title: The title value of the item.
 * - label: The label value of the item.
 * - body: The content value of the item.
 * - icon: The icon value of the detail item.
 * - date:
 * - currentState:
 *
 * - classes: Array of classes to be applied to detail, icon, label, and body
 *   elements.
 */
#}


<div class="bh-project-timeline-moment g g--12 timeline-rfp timeline-rfp-{{ currentState }}">

  <div class="g g--4">
    <div class="g--7 m-t500">
      <h6 class="m-v000 bh-timeline-season t--cb">{{ date }}</h6>
    </div>

    <div typeof="foaf:Image" class="bh-project-timeline-icon g--5 p-t600">
      {{ icon }}
    </div>

  </div>

  <div class="g--8 m-b600 m-h100 p-a000  bh-project-timeline-content">

    <div class="b b--w p-l600 p-r600 p-b200 p-t600 m-b400">

      <h3 class="m-v000">{{ title }}</h3>

      <div class="p-t200 p-b200">{{ body }}</div>



      <div class="m-v200 bc--r t--nowrap t--s100">
        <a href="{{ url }}" class="g">
          <div typeof="foaf:Image" class=""> {{ rfpListIcon }} </div>
          <span  class="t--sans t--bold m-t100 m-l200">{{ label }}</span>
        </a>
      </div>


    </div>


  </div>

</div>

