{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 #}
<div class=""{{ attributes }}>
  <div class="p-t000">
    <div class="g candidate_results">
      <div class="precinct_reported_text precinct_total g--4 ta--c--ac"><strong>{{ content.field_election_candidate }}</strong></div>
      <div class="precinct_total g--4 ta--c--ac"><span>Votes: {{ candidate_votes }} | {{ candidate_percent }}%</span></div>
      <div class="precinct_total prg g--4 ta--c--ac">
        <div class="prg-prgbar optmistic_blue">
          <progress max="100" aria-valuemin="0" aria-valuemax="100" aria-valuenow="{{ candidate_percent }}" aria-valuetext="Candidate Votes" value="{{ candidate_percent }}">Candidate Vote</progress>
        </div>
      </div>
    </div>
  </div>
</div>
