{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 #}
<div class="b b--fw bg--g000 cob-election-contest"{{ attributes }} id="{{ sortorder }}" data-sort="{{ sortorder }}">
  <div class="b-c b-c--ntp p-t700">
    <div class="g">
      <div class="g--12 election_contest_title p-t600"> {{ content.field_election_contest }} </div>
      <div class="precinct_reported_text precinct_total g--4 ta--c--ac p-t300"> <h4 class="m-v000">Precincts Reported:</h4> </div>
      <div class="precinct precinct_total g--4 ta--c--ac"> <span>{{ content.field_precinct_reported }} of {{ content.field_precinct_total }}| {{ percent }}% </span></div>
      <div class="precinct_total g--4 ta--c--ac" style="margin-right:0;">
        <div class="prg">
          <div class="prg-prgbar grey">
            <progress max="{{ total }}" aria-valuemin="1" aria-valuemax="{{ total }}" aria-valuenow="{{ reported }}" aria-valuetext="Precincts Reported" value="{{ reported }}">Precincts Reported</progress>
          </div>
        </div>
      </div>
      <div class="g--12">
        <h3 class="m-b000 p-t300">
          {{ area_title }}
        </h3>
        {{ content.field_candidate_results }}
      </div>
      <div class="g--12">
        <table class="responsive-table responsive-table--horizontal table-desktop">
          <caption class="visually-hidden">Unofficail election results total ballots and votes</caption>
          <thead>
          <tr>
            <th class="bos-contest-results-ballotscast">Ballots Cast:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Ballots cast represents the amount of people that cast a ballot."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
            <th class="bos-contest-results-totalvotes">Total Votes:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Total votes represents the total amount of votes for all candidates, including write-in votes."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
{#             <th class="bos-contest-results-undervotes">Undervotes:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Ballots not counted because of unclear marking by voters."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
            <th class="bos-contest-results-overvotes">Overvotes:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Ballots where a voter selected more candidates than the number of candidates you are permitted to vote for in that particular office race."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>   #}
          </tr>
          </thead>
          <tbody>
          <tr>
            <td data-label="ballots" class="contest-results-ballotscast">{{ content.field_contest_ballots }}</td>
            <td data-label="total Votes" class="contest-results-totalvotes">{{ content.field_calc_total_votes }}</td>
{#             <td data-label="undervotes" class="contest-results-undervotes">{{ content.field_contest_undervotes }}</td>
            <td data-label="overvotes" class="contest-results-overvotes">{{ content.field_contest_overvotes }}</td> #}
          </tr>
          </tbody>
        </table>
        <table class="vertical-responsive-table table-mobile">
          <caption class="visually-hidden">Unofficial election results total ballots and votes</caption>
          <tbody>
          <tr>
            <th class="contest-results-ballotscast">Ballots Cast:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Ballots cast represents the amount of people that cast a ballot."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
            <td class="contest-results-ballotscast">{{ content.field_contest_ballots }}</td>
          </tr>
          <tr>
            <th class="contest-results-totalvotes">Total Votes:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Total votes represents the total amount of votes for all candidates, including write-in votes."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
            <td class="contest-results-totalvotes">{{ content.field_calc_total_votes }}</td>
          </tr>
{#           <tr>
            <th class="contest-results-undervotes">Undervotes:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Ballots not counted because of unclear marking by voters."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
            <td class="contest-results-undervotes">{{ content.field_contest_undervotes }}</td>
          </tr>
          <tr>
            <th class="contest-results-overvotes">Overvotes:
              <span tabindex="0" class="di-tt di-tt-data-tooltip explainer-icon" data-tooltip="Ballots where a voter selected more candidates than the number of candidates you are permitted to vote for in that particular office race."><svg class="explainer-icon" title="explainer icon" width="17" style="width:17px;display: inline-block;" id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><circle id="b" cx="8.5" cy="8.5" r="8.5" fill="#fff"/><g id="c" transform="translate(1 1)" isolation="isolate"><g isolation="isolate"><path d="M9.47,6.99c0-.59-.52-.96-1.3-.96s-1.35,.34-1.74,.89l-1.45-.85c.65-.98,1.78-1.61,3.39-1.61,1.8,0,3.05,.8,3.05,2.22,0,1.92-2.02,2.13-2.02,3.41h-1.81c0-1.68,1.87-2.05,1.87-3.1Zm-2.11,5.01c0-.61,.48-1.07,1.15-1.07s1.15,.46,1.15,1.07-.48,1.09-1.15,1.09-1.15-.49-1.15-1.09Z" fill="#0c1f2e"/></g></g></svg></span>
            </th>
            <td class="contest-results-overvotes">{{ content.field_contest_overvotes }}</td>
          </tr> #}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
