<a id="seal" href="{{ front_page }}" title="Homepage | City of Boston Seal" rel="home" class="s{{ hidden }}">
  <img src="{{ asset_url }}/images/{{ asset_name }}/seal.svg?{{ cache_buster }}" alt="City of Boston Seal" class="s-i" />
</a>
