  <div class="cds m-t500 g--3">
    <a href="{{ card_url }}" class="cds-l d-b p-a300">
      <div class="cds-ic m-b500">
        {{ icon|raw }}
        {% if alert == "1" %}
          <svg class="cds-ia" width="28" height="28" viewBox="-1187 1989 24 24" xmlns="http://www.w3.org/2000/svg">
            <title>Alert</title>
            <desc>A red exclamation point in a cirlce.</desc>
            <circle class="svg-stroke-hover" stroke="#FB4D42" stroke-width="3" fill="#FFF" fill-rule="evenodd" cx="-1175" cy="2001" r="10.5" />
            <path d="M-1175 2008.2c-.4 0-.8-.1-1.1-.4-.3-.3-.4-.6-.4-1s.1-.8.4-1c.3-.3.6-.4 1.1-.4.4 0 .8.1 1 .4.2.3.4.6.4 1s-.1.8-.4 1c-.3.2-.6.4-1 .4zm-1.4-14.4h2.8v2.6l-.6 7.2h-1.6l-.6-7.2v-2.6z" class="svg-fill-hover" fill="#FB4D42" fill-rule="evenodd" />
          </svg>
        {% endif %}
      </div>
      <div class="cds-c">
        <div class="cds-t t--upper t--sans m-b300">{{ title }}</div>
        <div class="cds-d t--subinfo">{{ content.field_message }}</div>
      </div>

      Enabled: {{ content.field_enabled }}

      Schedule and next 5 recurrences.
      {{ content.field_recurrence }}
    </a>
  </div>
