{#
 * @file
 * Default theme implementation for detail item.
 *
 * Available variables:
 * - $label: The label value of the detail item.
 * - $body: The content value of the detail item.
 * - $classes: Array of classes to be applied to detail, icon, label, and body
 *   elements.
 #}
{% set default_classes = {
  'detail': NULL,
  'icon': NULL,
  'label': NULL,
  'body': NULL
} %}
{% set classes = detail_item_variables.classes|merge(default_classes) %}
{% detail_classes = classes.detail %}
{% use_left = FALSE %}
{% left_content = NULL %}
{% if classes.icon %}
  {% set left_content = "<div class='icon " ~ classes.icon ~ "'></div>" %}
{% elseif label and 'detail-item--secondary' in [detail_classes] %}
  {% set left_content = "<div>" ~ label ~ "</div>" %}
}
{% elseif image %}
  {% set left_content = "<div>" ~ image ~ "</div>" %}
{% endif %}

<div class="detail-item <?php print $classes['detail'] ?>">
  {% if left_content %}
  <div class="detail-item__left">
    {{ left_content }}
  </div>
  {% endif %}
  <div class="detail-item__content">
    {% if label and 'detail-item--secondary' in [detail_classes] %}
      <div class="detail-item__label {{ classes.label }}">
        {{ label }}
      </div>
    {% endif %}
    {% if body %}
    <div class="detail-item__body {{ classes.body }}">
      {% if phone %}
        <a href="tel:{{ phone }}">{{ body }}</a>
      {% else %}
        {{ body }}
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
