{#
 * @file
 * Returns the HTML for a script page.
 *
 * Complete documentation for this file is available online.
 *
 * @see https://drupal.org/node/1728164
 #}

<article id="node-{{ node.id }}" {{ attributes }}>
  <div class="department-info-wrapper desktop-100">
    <div class="column mobile-100 desktop-66-left">
      <h1 class="title">{{ title }}</h1>
      {% if not node.field_intro_text.isempty %}
        {{ content.field_intro_text }}
      {% endif %}
      {% if not node.field_embed_list.isempty %}
        {{ content.field_embed_list }}
      {% endif %}
    </div>
    <div class="column mobile-100 desktop-33-right">
      <div class="sidebar script-page">
        {% if not node.field_contact.isempty %}
          <div class="contact-info">
            <div>Still have questions? Contact:</div>
            {{ content.field_contact }}
          </div>
        {% endif %}
        {% if not node.field_link.isempty %}
          <div class="pdf-link">
            {{ content.field_link }}
          </div>
        {% endif %}
        {% if not node.field_sidebar_components.isempty %}
          <div class="list-item-wrapper">
            {{ content.field_sidebar_components }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  {% if not node.field_components.isempty %}
    <div class="department-components desktop-100" {{ content_attributes }}>
      {{ content.field_components }}
    </div>
  {% endif %}
</article>
