{% if display == "modal" %}
  {% set query = "?preset=#{ preset }&title=#{ button_title }" %}
  {% set button_css = button_css ~ ' use-ajax'  %}
{% else %}
  {% set query = "?preset=#{ preset }" %}
{% endif %}

<div class= "sf-i m-b600 g">
  <a class="button {{ button_css }}" href="{{ search_form_url }}{{ query }}" bos_search_preset="{{ preset }}">{{ button_title }}</a>
  {% if body %}
    <div class="m-l300">{{ body }}</div>
  {% endif %}
</div>
