{#
   @file
   Library for connecting to Swiftype.
#}
<div class="breadcrumb" data-swiftype-index="false">
  {{ drupal_block('system_breadcrumb_block') }}
</div>
<form id="searchForm" class="m-t700" action="{{ bos_search_url }}" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓">
  <div class="b b--fw">
    <div class="b-c b-c--ntp" style="margin-top: -25px">
      <div class="sf">
        <div class="sf-i">
          <input type="text" name="query" id="query" class="sf-i-f" value="{{ search_term }}" placeholder="Search" autofocus>
          <label for="query" class="sf-i-l">Search</label>
          <button class="sf-i-b">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="b b--fw b--g">
    <div class="b-c b-c--mh">
      {% if has_results %}
        <div class="g m-t000">
            {% if facets %}
              <div class="g--3">
                <div class="co">
                  <input id="collapsible" type="checkbox" class="co-f d-n" aria-hidden="true">
                  <label for="collapsible" class="co-t">Filter</label>
                  <div class="co-b co-b--pl">
                    <div class="t--intro m-b200">Filter by type</div>

                    <div class="m-b300">
                      {% for key,facet in facets %}
                        <label class="cb" for="check_{{ key }}">
                          <input type="checkbox" name="facet[]" id="check_{{ key }}" value="{{ key }}" class="cb-f"{{ facets_extra[facet].selected }}>
                          <span class="cb-l">{{ facets_extra[facet].facet_type }} ({{ facet }})</span>
                        </label>
                      {% endfor %}
                    </div>

                    <button type="submit" class="btn btn--sb">Apply</button>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="g--9">
              <ul class="m-a000 p-a000">
                {% for key,record in records %}
                  <li class="n-li">
                    <a class="n-li-b n-li-b--r n-li-b--fw n-li--in g g--mt0" href="{{ record.url }}">
                      <div class="n-li-t g--8">{{ record.clean }}</div>
                      <div class="n-li-ty n-li-ty--r g--44 ta--r">{{ record.facet_type }}</div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              {% if info.page.num_pages > 1 %}
                <ul class="pg">
                  <li class="pg-li">
                    {% if info.page.current_page > 1 %}
                      <a class="pg-li-i pg-li-i--a pg-li-i--link" href="{{ info.start_pager.url }}">
                        <span class="pg-li-i-h">&lt; previous</span>
                      </a>
                    {% else %}
                      <span class="pg-li-i">&lt; previous</span>
                    {% endif %}
                  </li>
                  {% for number in range %}
                    <li class="pg-li">
                      <a class="pg-li-i pg-li-i--link{% if number.id == info.page.current_page %} pg-li-i--a{% endif %}" href="{{ number.url }}">{{ number.id }}
                      </a>
                    </li>
                  {% endfor %}
                  <li class="pg-li">
                    {% if info.page.current_page == info.page.num_pages %}
                      <span class="pg-li-i">next &gt;</span>
                    {% else %}
                      <a class="pg-li-i pg-li-i--a pg-li-i--link" href="{{ info.end_pager.url }}">
                        <span class="pg-li-i-h">next &gt;</span>
                      </a>
                    {% endif %}
                  </li>
                </ul>
              {% endif %}
            </div>
          </div>
      {% elseif no_search %}
        <h2 class="h2 m-t000 m-b300">Search Boston.gov</h2>
        <div class="intro-text supporting-text lh--200">Please type your search phrase and click enter.</div>
      {% else %}
        <h2 class="h2 m-t000 m-b300">No Results Found</h2>
        <div class="intro-text supporting-text lh--200">Thomas Paine noted "These are the times that try men's souls." Well this is a time to try another search.</div>
      {% endif %}
    </div>
  </div>
</form>

<div class="b">
  <div class="b-c">
    <div class="h2 tt-u ta-c p-h300">Can't find what you're looking for?</div>
    <hr class="hr hr--sq m-h300 m-v500">
    <div class="ta-c p-h200 t--intro">
      Our 311 operators are available 24/7 to help point you in the right direction. Call <a href="tel:311">311</a>, or <a href="tel:617-635-4500">617-635-4500</a>.
    </div>
  </div>
</div>
