{#
   @file
   Library for connecting to Swiftype.
#}
<div class="breadcrumb" data-swiftype-index="false">
  {{ drupal_block('system_breadcrumb_block') }}
</div>
<form id="searchForm" class="m-t700" action="{{ bos_search_url }}" accept-charset="UTF-8" method="get">
  <input name="utf8" type="hidden" value="✓">
  <div class="b b--fw">
    <div class="b-c b-c--ntp" style="margin-top: -25px">
      <div class="sf">
        <div class="sf-i">
          <input type="text" name="query" id="query" class="sf-i-f" value="{{ search_term }}" placeholder="Search" autofocus>
          <label for="query" class="sf-i-l">Search</label>
          <button class="sf-i-b">Search</button>
        </div>
      </div>
    </div>
  </div>
  {% if has_results %}
    <div class="b b--fw b--g">
      <div class="b-c b-c--smv">
        <div class="g m-t000">
            {% if facets %}
              <div class="g--3">
                <div class="co">
                  <input id="collapsible" type="checkbox" class="co-f d-n" aria-hidden="true">
                  <label for="collapsible" class="co-t">Filter</label>
                  <div class="co-b co-b--pl">
                    <div class="t--intro m-b200">Filter by type</div>

                    <div class="m-b300">
                      {% for key,facet in facets %}
                        <label class="cb" for="check_{{ key }}">
                          <input type="checkbox" name="facet[]" id="check_{{ key }}" value="{{ key }}" class="cb-f"{{ facets_extra[facet].selected }}>
                          <span class="cb-l">{{ facets_extra[facet].facet_type }} ({{ facet }})</span>
                        </label>
                      {% endfor %}
                    </div>

                    <button type="submit" class="btn btn--sb">Apply</button>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="g--9">
              <ul class="m-a000 p-a000">
                {% for key,record in records %}
                  <li class="n-li">
                    <a class="n-li-b n-li-b--r n-li-b--fw n-li--in g g--mt0" href="{{ record.url }}">
                      <div class="n-li-t g--8">{{ record.clean }}</div>
                      <div class="n-li-ty n-li-ty--r g--44 ta--r">{{ record.facet_type }}</div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              {% if info.page.num_pages > 1 %}
                <ul class="pg">
                  <li class="pg-li">
                    {% if info.page.current_page > 1 %}
                      <a class="pg-li-i pg-li-i--a pg-li-i--link" href="{{ info.start_pager.url }}">
                        <span class="pg-li-i-h">&lt; previous</span>
                      </a>
                    {% else %}
                      <span class="pg-li-i">&lt; previous</span>
                    {% endif %}
                  </li>
                  {% for number in range %}
                    <li class="pg-li">
                      <a class="pg-li-i pg-li-i--link{% if number.id == info.page.current_page %} pg-li-i--a{% endif %}" href="{{ number.url }}">{{ number.id }}
                      </a>
                    </li>
                  {% endfor %}
                  <li class="pg-li">
                    {% if info.page.current_page == info.page.num_pages %}
                      <span class="pg-li-i">next &gt;</span>
                    {% else %}
                      <a class="pg-li-i pg-li-i--a pg-li-i--link" href="{{ info.end_pager.url }}">
                        <span class="pg-li-i-h">next &gt;</span>
                      </a>
                    {% endif %}
                  </li>
                </ul>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  {% elseif no_search %}
    <div class="b b--fw b--g">
      <div class="b-c">
        <h2 class="h2 m-t000 m-b300">Search Boston.gov</h2>
        <div class="intro-text supporting-text lh--200">To search the City of Boston's website, type out a keyword or phrase and click enter.</div>
      </div>
    </div>
  {% else %}
    <div class="b b--fw b--g">
      <div class="b-c b-c--smv">
        <h2 class="h2 m-t000 m-b300">No Results Found</h2>
        <div class="intro-text supporting-text lh--200">Your search returned no results. Please try searching again with a different keyword or phrase, and make sure to check for typos.</div>
      </div>
    </div>
  {% endif %}
</form>

{% if not no_search %}
  <div class="entity entity-paragraphs-item component-section paragraphs-item-transaction-grid b b--g b--fw" bos_context_type="Transaction Grid">
    <div class="b-c">
      <div class="sh">
        <h2 class="sh-title">Featured resources</h2>
      </div>
      <div class="g">
        <a href="https://www.boston.gov/departments/disabilities-commission/ada-curb-ramp-requests" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><polygon points="98.28 112.08 34.29 112.08 34.29 28.43 98.28 28.43 98.28 47.53 98.28 112.08" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></polygon><rect x="26.39" y="22.17" width="79.07" height="96.2" fill="none" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><path d="M73.41,18.2a7.22,7.22,0,0,0-6.8-6.13,7.22,7.22,0,0,0-6.8,6.13H51.52v10h30v-10Z" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path><circle cx="66.61" cy="18.7" r="2" fill="#0f1f2d"></circle><polygon points="121.6 88.19 103.53 88.19 95.03 96.93 95.03 100.32 73.2 100.32 73.2 117.67 121.58 117.67 121.6 88.19" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></polygon><rect x="66.07" y="112.7" width="7.14" height="4.83" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><polygon points="99.48 98.97 105.4 93.04 116.71 93.04 116.71 108.07 99.47 108.07 99.48 98.97" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></polygon><polygon points="68.97 124.39 50.13 124.39 59.53 114.57 61.12 104.78 68.97 104.78 68.97 124.39" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></polygon><rect x="73.01" y="112.43" width="50.32" height="12.08" rx="6.04" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><circle cx="78.57" cy="118.48" r="6.04" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></circle><circle cx="98.33" cy="118.48" r="6.04" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></circle><circle cx="117.38" cy="118.48" r="6.04" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></circle><line x1="55.77" y1="43.47" x2="88.77" y2="43.47" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><rect x="41.53" y="39.91" width="7.13" height="7.13" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><line x1="55.77" y1="64.81" x2="88.77" y2="64.81" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><rect x="41.53" y="61.25" width="7.13" height="7.13" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><line x1="55.77" y1="86.14" x2="88.77" y2="86.14" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><rect x="41.53" y="82.58" width="7.13" height="7.13" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect></svg>
          </div>
          <div class="lwi-t">
            ADA Curb Ramp Requests
          </div>
        </a>
        <a href="/career-center" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><circle cx="74.26" cy="72.14" r="48.55" fill="#fff"></circle><circle cx="73.89" cy="72" r="50.5" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3"></circle><circle cx="73.89" cy="72" r="43.5" fill="none" stroke="#010101" stroke-miterlimit="10" stroke-width="3"></circle><line x1="51.38" y1="94.3" x2="71.33" y2="74.34" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line><circle cx="81.07" cy="64.13" r="14.43" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></circle></svg>
          </div>
          <div class="lwi-t">
            Apply for a City Job
          </div>
        </a>
        <a href="/boston-permits-and-licenses" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><path d="M22.58,27.33v75h-11v1.27a13.18,13.18,0,0,0,12.84,13.07l94.77-.06A12.86,12.86,0,0,0,132.24,104l.18-76.64Zm1.94,86.39a10.16,10.16,0,0,1-9.75-8.63l91.5,0a12.7,12.7,0,0,0,4.49,8.56ZM129.3,104a9.7,9.7,0,0,1-9.86,9.69c-5.84,0-9.86-4.23-9.86-10v-1.48l-84,0V30.33H129.46Z" fill="#0f1f2d"></path><path d="M110.76,113.67l-86.24,0a10.16,10.16,0,0,1-9.75-8.63l91.5,0A12.7,12.7,0,0,0,110.76,113.67Z" fill="#fff"></path><path d="M129.46,30.33,129.3,104a9.71,9.71,0,0,1-9.86,9.7c-5.84,0-9.86-4.24-9.86-10v-1.48l-84,0V30.33Z" fill="#fff"></path><rect x="72.22" y="41.01" width="46.26" height="2.95" fill="#0f1f2d"></rect><rect x="72.22" y="52.82" width="46.26" height="2.95" fill="#0f1f2d"></rect><rect x="72.22" y="64.63" width="46.26" height="2.95" fill="#0f1f2d"></rect><rect x="72.22" y="76.44" width="46.26" height="2.95" fill="#0f1f2d"></rect><rect x="72.22" y="88.25" width="46.26" height="2.95" fill="#0f1f2d"></rect><rect x="33.78" y="52.11" width="30.25" height="34.87" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><polygon points="31.29 58.14 66.61 58.14 63.87 48.67 34.02 48.67 31.29 58.14" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></polygon><rect x="52.84" y="45.23" width="5.17" height="6.89" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="38.15" y="73.63" width="9.04" height="13.34" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></rect><rect x="38.58" y="61.58" width="8.18" height="8.18" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></rect><rect x="51.49" y="61.58" width="8.18" height="8.18" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></rect><rect x="51.49" y="73.63" width="8.18" height="8.18" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"></rect></svg>
          </div>
          <div class="lwi-t">
            Building Permits and Licenses
          </div>
        </a>
        <a href="http://www.cityofboston.gov/assessing/search/" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><rect x="19.5" y="39.5" width="105" height="81" fill="#fff" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><polygon points="13.5 53.5 130.5 53.5 121.43 31.5 22.57 31.5 13.5 53.5" fill="#fff" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3" fill-rule="evenodd"></polygon><rect x="98.5" y="23.5" width="12" height="16" fill="#fff" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="32.5" y="89.5" width="21" height="31" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="93.5" y="90.5" width="19" height="19" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="98.5" y="95.5" width="9" height="9" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="63.5" y="90.5" width="19" height="19" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="68.5" y="95.5" width="9" height="9" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="93.5" y="60.5" width="19" height="19" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="98.5" y="65.5" width="9" height="9" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="63.5" y="60.5" width="19" height="19" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="68.5" y="65.5" width="9" height="9" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="33.5" y="60.5" width="19" height="19" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="38.5" y="65.5" width="9" height="9" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect></svg>
          </div>
          <div class="lwi-t">
            City Property Information Search
          </div>
        </a>
        <a href="/departments/parking-clerk/how-get-resident-parking-permit" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><rect x="6.5" y="30.13" width="131" height="87" fill="#fff" stroke="#0f1f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="11.5" y="35.13" width="121" height="77" fill="none" stroke="#0f1f2d" stroke-miterlimit="10"></rect><rect x="11.5" y="35.13" width="121" height="77" fill="#fff" stroke="#0f1f2d" stroke-miterlimit="10" stroke-width="3"></rect><path d="M32.16,55.19c0,1.07-.81,2.25-1.92,3.45l-2.73,2.9h5.13v1.59H25.17V61.84l3.88-4.16a3.86,3.86,0,0,0,1.27-2.23c0-.84-.66-1.35-1.75-1.35a4.56,4.56,0,0,0-2.87,1.32L25,54.05a6.11,6.11,0,0,1,3.82-1.5C30.8,52.55,32.16,53.59,32.16,55.19Z" fill="#002a3d"></path><path d="M43,57.88c0,3.4-1.59,5.29-4.45,5.29S34,61.28,34,57.88s1.59-5.3,4.47-5.3S43,54.47,43,57.88Zm-7.11,0c0,2.65.89,3.9,2.66,3.9s2.64-1.25,2.64-3.9S40.26,54,38.51,54,35.85,55.21,35.85,57.88Z" fill="#002a3d"></path><path d="M45.93,63.13V54.2h-2V52.63H47.7v10.5Z" fill="#002a3d"></path><path d="M57.87,53.35l-.69,1.33A4.44,4.44,0,0,0,54.86,54c-2,0-3,1.53-2.93,3.8a3.08,3.08,0,0,1,2.87-1.49,3.12,3.12,0,0,1,3.37,3.35,3.37,3.37,0,0,1-3.69,3.52c-2.65,0-4.27-1.89-4.27-5.11s1.75-5.54,4.53-5.54A6.92,6.92,0,0,1,57.87,53.35Zm-5.65,6.37a2,2,0,0,0,2.17,2,1.92,1.92,0,0,0,2.13-2,1.84,1.84,0,0,0-2.05-1.93A2,2,0,0,0,52.22,59.72Z" fill="#002a3d"></path><path d="M28.85,95.63V77.77H24.72V73.2h9.83V95.63Z" fill="#002a3d"></path><path d="M58.83,84.39c0,7.33-3.55,11.4-9.88,11.4s-10-4.07-10-11.4S42.55,73,49,73,58.83,77.1,58.83,84.39Zm-14,0c0,5.12,1.22,7.24,4.1,7.24S53,89.51,53,84.39,51.76,77.2,49,77.2,44.85,79.28,44.85,84.39Z" fill="#002a3d"></path><rect x="76.5" y="50.13" width="44" height="3" fill="#111f2d"></rect><rect x="76.5" y="56.13" width="44" height="3" fill="#111f2d"></rect><rect x="76.5" y="62.13" width="44" height="3" fill="#111f2d"></rect><rect x="76.5" y="68.13" width="44" height="3" fill="#111f2d"></rect><path d="M79.43,91.78c0,.17,0,.34,0,.49a1.7,1.7,0,0,1-.05.41l1.09-.05,0,.56H77.19v-.42a1.55,1.55,0,0,0,.57-.12.88.88,0,0,0,.36-.3,1.5,1.5,0,0,0,.21-.46,2.67,2.67,0,0,0,.07-.6l.29-6.14h0l-1.58,1-.24-.38,2.54-1.88h.44Z" fill="#002a3d"></path><path d="M81.84,85.84a1.43,1.43,0,0,1,.18-.66,2.15,2.15,0,0,1,.55-.63,2.8,2.8,0,0,1,.89-.48,3.44,3.44,0,0,1,1.2-.19,4.35,4.35,0,0,1,1,.11,2.45,2.45,0,0,1,.82.37A2,2,0,0,1,87,85a2.26,2.26,0,0,1,.21,1,2.54,2.54,0,0,1-.12.74,3,3,0,0,1-.43.84,6.54,6.54,0,0,1-.82,1,12.62,12.62,0,0,1-1.31,1.13A11.67,11.67,0,0,0,83,91.06a2.57,2.57,0,0,0-.72,1.18l3,.08a5.09,5.09,0,0,0,.58,0,1.47,1.47,0,0,0,.46-.13.89.89,0,0,0,.3-.28,1.06,1.06,0,0,0,.12-.48h.4L87,93.19H81.41A3.26,3.26,0,0,1,81.68,92a4,4,0,0,1,.63-1,6.56,6.56,0,0,1,.87-.88l1-.88a7.71,7.71,0,0,0,.75-.77,6.35,6.35,0,0,0,.57-.77,3.94,3.94,0,0,0,.35-.76,2.35,2.35,0,0,0,.12-.71,2.64,2.64,0,0,0-.08-.7,1.46,1.46,0,0,0-.26-.58,1.23,1.23,0,0,0-.47-.4,1.76,1.76,0,0,0-.73-.14,1.81,1.81,0,0,0-.52.07,1.67,1.67,0,0,0-.45.2,1.28,1.28,0,0,0-.36.29,1.56,1.56,0,0,0-.24.35.67.67,0,0,1,.17.29,1.7,1.7,0,0,1,0,.28.64.64,0,0,1,0,.23.62.62,0,0,1-.12.19.5.5,0,0,1-.19.13.54.54,0,0,1-.25.06.6.6,0,0,1-.62-.65Z" fill="#002a3d"></path><path d="M89.33,92a.83.83,0,0,0,.21.38,1.19,1.19,0,0,0,.36.26,1.77,1.77,0,0,0,.46.15,2.24,2.24,0,0,0,.52,0,2.52,2.52,0,0,0,.89-.15,1.82,1.82,0,0,0,.67-.44,2,2,0,0,0,.43-.7,2.69,2.69,0,0,0,.15-.92c0-.13,0-.26,0-.41a2.16,2.16,0,0,0-.1-.44,2.35,2.35,0,0,0-.19-.43,1.53,1.53,0,0,0-.81-.6,2.19,2.19,0,0,0-.66-.09h-.46l-.4,0,0-.58h.53a2,2,0,0,0,.68-.11,1.76,1.76,0,0,0,.51-.27,1.57,1.57,0,0,0,.35-.38,2.26,2.26,0,0,0,.22-.44,1.93,1.93,0,0,0,.12-.44,3.22,3.22,0,0,0,0-.39,2.86,2.86,0,0,0-.08-.67,1.26,1.26,0,0,0-.25-.52,1.11,1.11,0,0,0-.46-.36,1.89,1.89,0,0,0-.73-.12,1.79,1.79,0,0,0-.57.09,2.14,2.14,0,0,0-.48.23,1.55,1.55,0,0,0-.35.32.9.9,0,0,0-.19.34.55.55,0,0,1,.13.25.81.81,0,0,1,0,.25.65.65,0,0,1,0,.21.55.55,0,0,1-.3.3.59.59,0,0,1-.23,0,.55.55,0,0,1-.4-.15.61.61,0,0,1-.17-.45A1.38,1.38,0,0,1,89,85.2a2.23,2.23,0,0,1,.53-.64,3.28,3.28,0,0,1,.87-.48,3.33,3.33,0,0,1,1.19-.2,4.35,4.35,0,0,1,1,.11,2.35,2.35,0,0,1,.8.37,1.69,1.69,0,0,1,.56.65A2.29,2.29,0,0,1,94,86.65a2.14,2.14,0,0,1-.38.67,2.86,2.86,0,0,1-.69.58,3.4,3.4,0,0,1-1,.41,3.37,3.37,0,0,1,1,.24,2.25,2.25,0,0,1,.76.48,1.89,1.89,0,0,1,.47.68,2,2,0,0,1,.16.82,2.86,2.86,0,0,1-.13.85,2.81,2.81,0,0,1-.37.71,2.71,2.71,0,0,1-.55.57,3.77,3.77,0,0,1-.7.41,4.17,4.17,0,0,1-.78.25,3.83,3.83,0,0,1-.83.08,3.72,3.72,0,0,1-1.17-.16,2.75,2.75,0,0,1-.84-.42,1.8,1.8,0,0,1-.5-.58,1.33,1.33,0,0,1-.16-.62.73.73,0,0,1,.18-.52.57.57,0,0,1,.46-.2.47.47,0,0,1,.24,0,.46.46,0,0,1,.18.13.44.44,0,0,1,.12.18.54.54,0,0,1,0,.22,1.22,1.22,0,0,1,0,.26A.6.6,0,0,1,89.33,92Z" fill="#002a3d"></path><path d="M96.63,91.78l-.11.28-.09.22a1.86,1.86,0,0,0-.1.2c0,.06-.07.13-.1.2l1-.05v.56H94.79l0-.42a1,1,0,0,0,.43-.12,1.13,1.13,0,0,0,.35-.34,3,3,0,0,0,.31-.51c.09-.2.19-.42.29-.66l2.93-7.3h.29l2.48,7.41c0,.09.06.18.09.3l.09.35c0,.12.05.24.07.36a1.84,1.84,0,0,1,0,.33v.09l.84-.05v.56h-2.85v-.42a1.33,1.33,0,0,0,.39-.06.69.69,0,0,0,.24-.14.57.57,0,0,0,.13-.21,1,1,0,0,0,0-.25,1.69,1.69,0,0,0,0-.3c0-.1-.05-.19-.08-.28l-.37-1.22-3.33.08Zm1.77-4.67c-.23.57-.42,1.07-.59,1.52s-.32.84-.45,1.2h3L99,85.65h0Z" fill="#002a3d"></path><path d="M105,85.64c0-.24,0-.45,0-.61s0-.31.06-.42l-.95.06,0-.58h2.9a6.29,6.29,0,0,1,1.29.12,2.81,2.81,0,0,1,1,.37,1.77,1.77,0,0,1,.59.63,2,2,0,0,1,.2.91,2.09,2.09,0,0,1-.12.69,2.44,2.44,0,0,1-.39.65,2.52,2.52,0,0,1-.69.53,3.16,3.16,0,0,1-1,.34v0a4.25,4.25,0,0,1,1.2.16,2.54,2.54,0,0,1,.85.45,2,2,0,0,1,.5.69,2.25,2.25,0,0,1,.16.87,2.57,2.57,0,0,1-.24,1.13,2.2,2.2,0,0,1-.66.85,2.9,2.9,0,0,1-1,.53,4.26,4.26,0,0,1-1.26.18H103.7l0-.43a1.14,1.14,0,0,0,.55-.13.74.74,0,0,0,.28-.35,1.49,1.49,0,0,0,.11-.52c0-.2,0-.42,0-.67Zm.67,7h1.38a3.23,3.23,0,0,0,1-.13,2,2,0,0,0,.74-.4,1.83,1.83,0,0,0,.48-.67,2.38,2.38,0,0,0,.16-.93,2,2,0,0,0-.17-.88,1.56,1.56,0,0,0-.46-.58,1.81,1.81,0,0,0-.69-.31,3,3,0,0,0-.81-.1h-.71l-.63,0-.16,2.92c0,.24,0,.44,0,.61A2.18,2.18,0,0,1,105.68,92.66Zm1.45-8.12a1.81,1.81,0,0,0-.52.06.55.55,0,0,0-.3.21,1,1,0,0,0-.16.39c0,.16-.05.36-.07.6L106,88.22h.48l.46,0a2.44,2.44,0,0,0,1-.21,1.87,1.87,0,0,0,.64-.47,1.78,1.78,0,0,0,.35-.65,2.27,2.27,0,0,0,.11-.73,1.62,1.62,0,0,0-.17-.81,1.28,1.28,0,0,0-.44-.48,1.53,1.53,0,0,0-.59-.24A3.63,3.63,0,0,0,107.13,84.54Z" fill="#002a3d"></path><path d="M119.74,91.54a4.85,4.85,0,0,1-.94.93,5,5,0,0,1-1,.57,4.07,4.07,0,0,1-1,.28,4.54,4.54,0,0,1-.87.08,4.26,4.26,0,0,1-1.7-.33,3.91,3.91,0,0,1-1.3-.91,4.2,4.2,0,0,1-.82-1.37,5,5,0,0,1-.29-1.71,6.15,6.15,0,0,1,.13-1.27,6,6,0,0,1,.39-1.2,5.38,5.38,0,0,1,.66-1.08,4.38,4.38,0,0,1,2.1-1.44,4.73,4.73,0,0,1,1.44-.21,4.86,4.86,0,0,1,1.36.19,4.46,4.46,0,0,1,1.2.59h0l0-.7h.71l-.16,3h-.47a3.29,3.29,0,0,0-.23-1.08,2.26,2.26,0,0,0-.52-.8,2.21,2.21,0,0,0-.8-.5,2.77,2.77,0,0,0-1-.17,3,3,0,0,0-1.36.31,3.6,3.6,0,0,0-1.13.9,4.48,4.48,0,0,0-.77,1.42,5.6,5.6,0,0,0-.28,1.84,4.66,4.66,0,0,0,.25,1.57,3.66,3.66,0,0,0,.68,1.21,3.31,3.31,0,0,0,1,.78,3.11,3.11,0,0,0,1.29.27,4.09,4.09,0,0,0,.85-.09,3.94,3.94,0,0,0,.82-.27,4.52,4.52,0,0,0,.76-.46,3.47,3.47,0,0,0,.64-.63Z" fill="#002a3d"></path></svg>
          </div>
          <div class="lwi-t">
            Get a Resident Parking Permit
          </div>
        </a>
        <a href="https://www.boston.gov/metrolist" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><polygon points="107.49 32.26 36.51 32.26 35.46 26.79 108.54 26.79 107.49 32.26" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></polygon><rect x="39.09" y="32.44" width="66.83" height="84.77" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="86.24" y="40.58" width="10.6" height="10.67" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="86.24" y="65.49" width="10.6" height="10.67" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="86.24" y="91.4" width="10.6" height="10.67" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="53.01" y="74.49" width="21.54" height="15.33" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="53.01" y="47.99" width="21.54" height="15.33" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="39.09" y="111.82" width="66.83" height="5.38" fill="#fff" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><rect x="47.4" y="32.67" width="5.61" height="83.87" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="53.01" y="101.49" width="21.54" height="15.33" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><line x1="57.51" y1="101.32" x2="57.51" y2="111.32" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line><line x1="62.51" y1="101.32" x2="62.51" y2="111.32" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line><line x1="67.51" y1="101.32" x2="67.51" y2="111.32" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line><line x1="53.01" y1="84.82" x2="77.01" y2="84.82" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><line x1="53.01" y1="58.82" x2="77.01" y2="58.82" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><rect x="71.84" y="32.67" width="5.41" height="83.87" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><line x1="57.51" y1="48.32" x2="57.51" y2="58.32" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><line x1="62.51" y1="48.32" x2="62.51" y2="58.32" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><rect x="47.4" y="32.36" width="29.86" height="5.15" fill="#fff" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><line x1="67.51" y1="48.32" x2="67.51" y2="58.32" fill="none" stroke="#111f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><line x1="57.51" y1="74.32" x2="57.51" y2="84.32" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line><line x1="62.51" y1="74.32" x2="62.51" y2="84.32" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line><line x1="67.51" y1="74.32" x2="67.51" y2="84.32" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></line></svg>
          </div>
          <div class="lwi-t">
            Find Affordable Housing
          </div>
        </a>
        <a href="https://www.boston.gov/departments/public-works/mattress-recycling" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><rect x="20.4" y="11.45" width="95.84" height="119.45" rx="8.12" fill="#fff" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></rect><path d="M31.38,18.74h73.37a4.18,4.18,0,0,1,4.18,4.18v96.52a4.18,4.18,0,0,1-4.18,4.18H31.81a4.1,4.1,0,0,1-4.1-4.1V22.41A3.67,3.67,0,0,1,31.38,18.74Z" fill="none" stroke="#111f2d" stroke-miterlimit="10" stroke-width="3"></path><path d="M42.44,35l-1.07-1.49L40.27,35H38.73l1.87-2.45L38.8,30.1h1.58l1,1.42,1.05-1.42H44l-1.8,2.37L44,35Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M60.39,35l-1.06-1.49L58.23,35H56.69l1.87-2.45L56.75,30.1h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.37L62,35Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M78.35,35l-1.06-1.49L76.18,35H74.65l1.87-2.45L74.71,30.1h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.37L80,35Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M96.31,35l-1.07-1.49L94.14,35H92.61l1.87-2.45L92.67,30.1h1.58l1,1.42,1.06-1.42h1.5L96,32.47,97.91,35Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M42.44,50.36l-1.07-1.49-1.1,1.49H38.73l1.87-2.44L38.8,45.5h1.58l1,1.42,1.05-1.42H44l-1.8,2.38L44,50.36Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M60.39,50.36l-1.06-1.49-1.1,1.49H56.69l1.87-2.44L56.75,45.5h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.38L62,50.36Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M78.35,50.36l-1.06-1.49-1.11,1.49H74.65l1.87-2.44L74.71,45.5h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.38L80,50.36Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M96.31,50.36l-1.07-1.49-1.1,1.49H92.61l1.87-2.44L92.67,45.5h1.58l1,1.42,1.06-1.42h1.5L96,47.88l1.88,2.48Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M42.44,65.77l-1.07-1.49-1.1,1.49H38.73l1.87-2.45-1.8-2.41h1.58l1,1.42,1.05-1.42H44l-1.8,2.38L44,65.77Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M60.39,65.77l-1.06-1.49-1.1,1.49H56.69l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.38L62,65.77Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M78.35,65.77l-1.06-1.49-1.11,1.49H74.65l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.38L80,65.77Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M96.31,65.77l-1.07-1.49-1.1,1.49H92.61l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5L96,63.29l1.88,2.48Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M42.44,81.18l-1.07-1.5-1.1,1.5H38.73l1.87-2.45-1.8-2.41h1.58l1,1.41,1.05-1.41H44l-1.8,2.37L44,81.18Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M60.39,81.18l-1.06-1.5-1.1,1.5H56.69l1.87-2.45-1.81-2.41h1.58l1,1.41,1.06-1.41h1.5l-1.81,2.37L62,81.18Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M78.35,81.18l-1.06-1.5-1.11,1.5H74.65l1.87-2.45-1.81-2.41h1.58l1,1.41,1.06-1.41h1.5l-1.81,2.37L80,81.18Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M96.31,81.18l-1.07-1.5-1.1,1.5H92.61l1.87-2.45-1.81-2.41h1.58l1,1.41,1.06-1.41h1.5L96,78.69l1.88,2.49Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M42.44,96.58l-1.07-1.49-1.1,1.49H38.73l1.87-2.45-1.8-2.41h1.58l1,1.42,1.05-1.42H44l-1.8,2.38L44,96.58Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M60.39,96.58l-1.06-1.49-1.1,1.49H56.69l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5L60.11,94.1,62,96.58Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M78.35,96.58l-1.06-1.49-1.11,1.49H74.65l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5L78.07,94.1,80,96.58Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M96.31,96.58l-1.07-1.49-1.1,1.49H92.61l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5L96,94.1l1.88,2.48Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M42.44,112l-1.07-1.49L40.27,112H38.73l1.87-2.45-1.8-2.41h1.58l1,1.42,1.05-1.42H44l-1.8,2.37L44,112Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M60.39,112l-1.06-1.49L58.23,112H56.69l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.37L62,112Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M78.35,112l-1.06-1.49L76.18,112H74.65l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5l-1.81,2.37L80,112Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path><path d="M96.31,112l-1.07-1.49L94.14,112H92.61l1.87-2.45-1.81-2.41h1.58l1,1.42,1.06-1.42h1.5L96,109.5,97.91,112Z" fill="#231f20" stroke="#111f2d" stroke-miterlimit="10"></path></svg>
          </div>
          <div class="lwi-t">
            Mattress Recycling
          </div>
        </a>
        <a href="https://www.boston.gov/departments/environment/community-choice-electricity" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><path d="M54.57,56.51a3.6,3.6,0,0,1-1.12-7l34.86-11.4a3.6,3.6,0,0,1,2.24,6.84L55.69,56.33A3.64,3.64,0,0,1,54.57,56.51Z" fill="#fff" stroke="#121f2c" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path><path d="M54.57,41.81a3.6,3.6,0,0,1-1.12-7L69.1,29.68l0-2.91a3.61,3.61,0,0,1,3.6-3.55h0a3.58,3.58,0,0,1,3.55,3.64l-.07,5.48a3.61,3.61,0,0,1-2.48,3.38L55.69,41.64A3.63,3.63,0,0,1,54.57,41.81Z" fill="#fff" stroke="#121f2c" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path><path d="M54.57,71.21a3.6,3.6,0,0,1-1.12-7l34.86-11.4a3.6,3.6,0,0,1,2.24,6.84L55.69,71A3.64,3.64,0,0,1,54.57,71.21Z" fill="#fff" stroke="#121f2c" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path><path d="M77.91,106.77a3.6,3.6,0,0,1-3.6-3.6c0-19.26,7.31-22.53,8.78-23a33.72,33.72,0,0,1,6-1.59,3.6,3.6,0,0,1,.82,7.15A33.79,33.79,0,0,0,85.5,87c-.49.34-4,3.25-4,16.2A3.6,3.6,0,0,1,77.91,106.77Z" fill="#fff" stroke="#121f2c" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path><path d="M68.46,106.77a3.6,3.6,0,0,1-3.6-3.6c0-10.92-4.08-14-4.32-14.2h0l-7.83-4.73a3.59,3.59,0,0,1,.74-6.5l34.86-11.4a3.6,3.6,0,0,1,2.24,6.84l-27.4,9,1.09.66c1.14.67,7.81,5.27,7.81,20.37A3.6,3.6,0,0,1,68.46,106.77Z" fill="#fff" stroke="#121f2c" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path><path d="M60.77,99.48H85.22a0,0,0,0,1,0,0v16.38a4.92,4.92,0,0,1-4.92,4.92H65.69a4.92,4.92,0,0,1-4.92-4.92V99.48A0,0,0,0,1,60.77,99.48Z" fill="#fff" stroke="#121f2c" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></path></svg>
          </div>
          <div class="lwi-t">
            Opt in for Community Choice Electricity
          </div>
        </a>
        <a href="https://registry.boston.gov/birth" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><rect x="12.15" y="28.06" width="119.69" height="87.88" fill="#fff"></rect><path d="M133.35,117.44H10.65V26.56h122.7Zm-119.7-3h116.7V29.56H13.65Z" fill="#0d202e"></path><rect x="66.42" y="47.06" width="47" height="3" fill="#0d202e"></rect><rect x="66.42" y="59.06" width="47" height="3" fill="#0d202e"></rect><rect x="66.42" y="71.06" width="47" height="3" fill="#0d202e"></rect><rect x="66.42" y="83.06" width="47" height="3" fill="#0d202e"></rect><rect x="66.42" y="95.06" width="47" height="3" fill="#0d202e"></rect><path d="M51.52,92.1a20.5,20.5,0,0,0-1.74-5.31,10.81,10.81,0,0,0-1.05-2c-.35-.49-.78-.92-1.17-1.37-4.13-4.73-5-12.78-.72-17.71,1.71-2,1.58-7.24,0-9.17a7.1,7.1,0,0,0-3.22-2.07,16.9,16.9,0,0,0-12.89.59,6.12,6.12,0,0,0-4,5.42c-1.47,13.07,5.29,41.42,17.64,41.42,3,0,5.44-2.24,6.54-4.93A9.15,9.15,0,0,0,51.52,92.1Z" fill="#0f1f2d"></path><ellipse cx="49.58" cy="49.1" rx="4.43" ry="3.21" transform="translate(-18.94 62.28) rotate(-55.61)" fill="#0f1f2d"></ellipse><ellipse cx="42.42" cy="47.62" rx="2.84" ry="2.05" transform="matrix(0.34, -0.94, 0.94, 0.34, -16.79, 71.32)" fill="#0f1f2d"></ellipse><ellipse cx="36.69" cy="47.54" rx="2.84" ry="2.05" transform="translate(-15.79 76.73) rotate(-81.42)" fill="#0f1f2d"></ellipse><ellipse cx="30.96" cy="48.96" rx="2.05" ry="2.84" transform="translate(-10.68 8.69) rotate(-13.65)" fill="#0f1f2d"></ellipse><ellipse cx="26.27" cy="52.95" rx="1.88" ry="2.6" transform="translate(-18.18 13.99) rotate(-22.38)" fill="#0f1f2d"></ellipse></svg>
          </div>
          <div class="lwi-t">
            Order Birth Certificates Online
          </div>
        </a>
        <a href="/departments/parking-clerk/how-pay-parking-ticket" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><rect x="20.5" y="12.31" width="63" height="104" fill="none" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></rect><rect x="31.02" y="83.76" width="40.98" height="10.59" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.95"></rect><rect x="31.02" y="73.26" width="40.98" height="10.59" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.95"></rect><rect x="31.02" y="94.26" width="40.98" height="10.59" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.95"></rect><rect x="31.02" y="52.22" width="40.98" height="10.59" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.95"></rect><rect x="31.02" y="41.72" width="40.98" height="10.59" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.95"></rect><rect x="31.02" y="62.72" width="40.98" height="10.59" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2.95"></rect><rect x="50.5" y="73.31" width="3" height="32" fill="#0f1f2d"></rect><circle cx="84" cy="107.34" r="24.35" fill="#fff" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></circle><line x1="75.59" y1="98.93" x2="92.41" y2="115.75" fill="none" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><line x1="75.59" y1="115.75" x2="92.41" y2="98.93" fill="none" stroke="#0f1f2d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"></line><rect x="30" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="41.57" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="53.14" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="64.71" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="70.5" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="58.93" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="47.36" y="21.6" width="3" height="13" fill="#111f2d"></rect><rect x="35.79" y="21.6" width="3" height="13" fill="#111f2d"></rect></svg>
          </div>
          <div class="lwi-t">
            Pay a Parking Ticket
          </div>
        </a>
        <a href="https://www.boston.gov/my-neighborhood" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 144"><rect x="56.49" y="52.45" width="28.08" height="59" fill="#fff" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></rect><rect x="79.04" y="42.04" width="30.7" height="70.14" fill="#fff" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></rect><rect x="79.04" y="31.82" width="30.7" height="4.66" fill="#fff" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></rect><polygon points="102 112.18 57.57 112.18 57.57 89.65 78.47 79.65 102 89.65 102 112.18" fill="#fff" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></polygon><polygon points="66.22 112.18 34.27 112.18 34.27 74.65 49.85 67.32 66.22 74.65 66.22 112.18" fill="#fff" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></polygon><line x1="82.56" y1="35.99" x2="82.56" y2="40.99" fill="none" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></line><line x1="105.56" y1="35.99" x2="105.56" y2="40.99" fill="none" stroke="#0d202e" stroke-miterlimit="10" stroke-width="3"></line></svg>
          </div>
          <div class="lwi-t">
            Search Resources and Elected Officials for Your Neighborhood
          </div>
        </a>
        <a href="https://www.boston.gov/departments/boston-311" class="entity entity-paragraphs-item component-section paragraphs-item-transactions lwi g--3 g--3--sl m-t200 m-t500--m" target="_blank">
          <div class="lwi-ic">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 118 129.33"><title>bos_311_icon_black</title><g id="Layer_7" data-name="Layer 7"><rect x="11.31" y="102.88" width="95.39" height="16.55" fill="#091f2f"></rect><path d="M13.62,10.89H25.83a29.9,29.9,0,0,1,8.23.76A7.43,7.43,0,0,1,39.51,19a7.45,7.45,0,0,1-.58,3c-1.43,3.22-4.47,3.85-6.17,4.21,1.92.31,4.47.71,6.21,2.68a7,7,0,0,1,1.75,4.74,8.4,8.4,0,0,1-5.23,7.64c-2.37,1-4.92,1.17-8.54,1.17H13.62Zm7.51,5.9v6.57h5.95c1.79,0,4.7-.13,4.7-3.39,0-3-2.64-3.18-4.16-3.18Zm0,12.3v7.64h5.5c2.64,0,6.08-.13,6.08-3.75,0-3.8-3.13-3.85-4.73-3.89Z" fill="#091f2f"></path><path d="M59.63,43.35c-10,0-15.7-7.69-15.7-16.81,0-8.54,5.41-16.63,15.56-16.63a17.76,17.76,0,0,1,5.77.93c9.66,3.36,10.28,13.87,10.28,16a17.15,17.15,0,0,1-6,13.19A15.16,15.16,0,0,1,59.63,43.35ZM65.08,18.8a7.69,7.69,0,0,0-5.54-2.32c-4.79,0-7.83,4.2-7.83,9.92,0,7.52,4.21,10.29,7.92,10.29s7.78-2.68,8-9.3C67.76,24.08,66.87,20.73,65.08,18.8Z" fill="#091f2f"></path><path d="M82.74,33a9.87,9.87,0,0,0,3,2.46A13.08,13.08,0,0,0,91.86,37c3.13,0,5.81-1.48,5.81-3.67,0-2.5-3.17-2.91-5.5-3.22-1.74-.22-3.48-.45-5.18-.8-1.93-.41-8.5-1.79-8.5-8.59,0-8.13,7.24-10.55,12.7-10.55,7.29,0,11.22,3.53,14,6l-5.81,4.16a14.92,14.92,0,0,0-3.13-2.55,11.43,11.43,0,0,0-5.15-1.39c-3.13,0-4.69,1.79-4.69,3.31,0,2.42,2.68,2.78,4,3A63.06,63.06,0,0,1,100,24.48a7.83,7.83,0,0,1,5.46,7.74,10.46,10.46,0,0,1-2.51,6.7c-2.86,3.31-7.42,4.25-11.85,4.25-8.89,0-12.43-4.11-14.39-6.39Z" fill="#091f2f"></path><path d="M14.43,58.91h7.15v7.51H14.43Zm0,15.74h7.15v7.6H14.43Z" fill="#091f2f"></path><path d="M35.48,60.56c.32-2.81,1.17-5.23,3.36-7,2.59-2.1,6-2.14,7.24-2.14,3.8,0,6,1.07,7.15,2.1a7.8,7.8,0,0,1,2.73,6,6.8,6.8,0,0,1-2.28,5.28A9.56,9.56,0,0,1,51,66.29a11.45,11.45,0,0,1,1.75.49,6.69,6.69,0,0,1,4,6.44A9.29,9.29,0,0,1,54.62,79c-2.37,2.9-6,3.75-9.39,3.75a10.5,10.5,0,0,1-8.18-3.3c-2.15-2.55-2.15-5.64-2.15-7.43l7-.58c0,.45-.05.85-.05,1.3,0,2.82,1.66,4.47,3.71,4.47,2.37,0,4-1.65,4-4.47,0-4.11-3.71-3.94-5.45-3.85V63.78a7.2,7.2,0,0,0,2.23-.09,3.38,3.38,0,0,0,2.6-3.44,3.21,3.21,0,0,0-3.27-3.44c-3.08,0-3.08,3.08-3.08,4.38Z" fill="#091f2f"></path><path d="M63.16,56.45a12,12,0,0,0,5-1.12,6.33,6.33,0,0,0,3.13-3.4h5.46V82.25h-7.2V60.12c-1.66.71-2.06.89-6.39,1Z" fill="#091f2f"></path><path d="M85.47,56.45a12,12,0,0,0,5-1.12,6.33,6.33,0,0,0,3.13-3.4h5.46V82.25h-7.2V60.12c-1.66.71-2.06.89-6.39,1Z" fill="#091f2f"></path></g></svg>
          </div>
          <div class="lwi-t">
            Report an Issue with 311
          </div>
        </a>

      </div>
    </div>
  </div>



<div class="b">
  <div class="b-c">
{#    <div class="h2 tt-u ta-c p-h300">Can't find what you're looking for?</div>#}
{#    <hr class="hr hr--sq m-h300 m-v500">#}
    <div class="ta-c p-h200 t--intro">
      If you still can't find what you're looking for, our 311 operators are available 24/7 to help point you in the right direction. Call <a href="tel:311">311</a>, or <a href="tel:617-635-4500">617-635-4500</a>.
    </div>
  </div>
</div>
{% endif %}
