{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https%0%
 #}
<article class="{{ classes }} clearfix node-{{ node.nid }}"{{ attributes }}>

  {% if title_prefix or title_suffix or display_submitted or unpublished or preview or not page and title %}
    <header class="topic-header">
      {{ title_prefix }}
      {{ if (!page and $title):  }}
        <h2{{ title_attributes }}><a href="{{ node_url }}">{{ title }}</a></h2>
      {% endif %}
      {{ title_suffix }}

      {% if unpublished %}
        <mark class="watermark">{# TODO: Review this: t('Unpublished') #}</mark>
      {% elseif preview %}
        <mark class="watermark">{# TODO: Review this: t('Preview') #}</mark>
      {% endif %}

      <div class="topic-hero-text-wrapper">
        <div class="intro-container fullwidth">
          {% if title %}
            <div class="intro-title">
              <div class="intro-title-wrapper">
                <div class="topic-title-prefix"><span></span>guide<span></span></div>
                <h1 id="topicTitle">{{ title }}</h1>
                <div class="topic-subhead">Last updated {{ content.field_updated_date }}</div>
              </div>
            </div><!-- End intro-title -->
          {% endif %}
          <div class="intro-content">
            {% if content.field_intro_text %}
              <div class="topic-intro-text-container">
                <div class="intro-text-top"></div>
                <div class="topic-intro-text-content">
                  {{ content.field_intro_text }}
                </div><!-- End .topic-intro-text-container -->
              </div><!-- End .topic-intro-text-wrapper -->
            {% endif %}
          </div><!-- End .intro-content -->
        </div><!-- End .intro-container -->
      </div><!-- End .topic-hero-text-wrapper -->

      <div class="section-nav-button-container">
        <button class="sub-nav-button">
          {{ file_get_contents(drupal_get_path('theme', $GLOBALS.theme) . '/dist/img/subnav-toggle.svg') }}
        </button>
      </div>

      <nav class="topic-nav">
        <ul></ul>
        <a name="section-nav"></a>
      </nav>

    </header>
  {% endif %}


  {#  We hide the comments and links now so that we can render them later.  #}
{#  TODO: Review this: hide($content.comments)  #}
{#  TODO: Review this: hide($content.links)  #}
{#  Keep field_intro_image hidden. Output rendered to page level.  #}
{#  TODO: Review this: hide($content.field_intro_image)  #}
{#  TODO: Review this: hide($content.field_intro_text)  #}
{#  TODO: Review this: hide($content.field_updated_date)  #}
{#  TODO: Review this: hide($content.field_published_date)  #}
{#  TODO: Review this: hide($content.field_contacts)  #}
{{
    content
   }}

  {% if content.field_contacts[0] %}
    <section class="b b--fw b--g">
      <div class="b-c">
        <div class="sh m-b500">
          <h2 data-short-title="Departments" class="sh-title">Departments You May Need</h2>
        </div>
        <div class="g">
          {{ content.field_contacts }}
        </div>
        <!-- End .departments-wrapper -->
      </div>
      <!-- End topic-departments-container -->
    </section><!-- End departments-container -->
  {% endif %}

</article>
