{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https%0%
 #}
<article{{ attributes.addClass("cdp") }}>
  <a href="{{ node_url }}" class="cdp-l d-b p-a300" role="group">

    {{ content.field_person_photo }}

    <div>

      <div class="cdp-t t--sans t--upper">
        {{ content.title.0 }}
      </div>

      {% if content.field_position_title %}
        <div class="cdp-st t--subinfo t--g300">
          {{ content.field_position_title }}
        </div>
      {% endif %}

    </div>
  </a>

  {%  if preferred_contact  %}

    {#  Fields bos_contact and preferred_contact are set in preprocessor.  #}
    {% if preferred_contact == 'email' %}

      {{ content.field_email }}

    {% elseif preferred_contact == 'phone' %}

      {{ content.field_phone_number }}

    {% endif %}

  {% endif %}

</article>
