{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https%0%
 #}
<article{{ attributes }}>
  <div class="person-profile-info-wrapper desktop-100 clearfix">
    <div class="column mobile-100 desktop-66-right">
      <h1 class="person-profile-display-name">
        {{ title }}
      </h1>
      {{ title_suffix }}
      {% if elements.field_position_title %}
        <div class="person-profile-position-title">
          {{ elements.field_position_title }}
        </div>
      {% endif %}
      {% if elements.field_description %}
        <div class="person-profile-bio squiggle-border-top">
          {{ elements.field_description }}
        </div>
      {% endif %}
    </div>
    <div class="column mobile-100 desktop-33-left sidebar">
      {% if elements.field_person_photo["#entity_type"] %}
        <div class="list-item person-profile-photo">
          {{ elements.field_person_photo }}
        </div>
      {% endif %}
      {% if elements.field_phone_number["#entity_type"] %}
        <div class="list-item">
          {{ elements.field_phone_number }}
        </div>
      {% endif %}
      {% if elements.field_email["#entity_type"] %}
        <div class="list-item">
          {{ elements.field_email }}
        </div>
      {% endif %}
      {% if elements.field_address["#entity_type"] %}
        <div class="list-item">
          {{ elements.field_address }}
        </div>
      {% endif %}
      {% if elements.field_year_elected["#entity_type"] %}
        <div class="list-item ">
          {{ elements.field_year_elected }}
        </div>
      {% endif %}
      {% if elements.field_political_party["#entity_type"] %}
        <div class="list-item">
          {{ elements.field_political_party }}
        </div>
      {% endif %}
      {% if elements.field_sidebar_components["#items"] %}
        {{ elements.field_sidebar_components }}
      {% endif %}
    </div>
  </div>
  {% if elements.field_components["#items"] %}
    <div class="person-profile-components desktop-100" {{ content_attributes }}>
      {{ elements.field_components }}
    </div>
  {% endif %}
</article>
