{#
/**
 * @file
 * Template for the Search Results Output.
 *
 * Available variables:
 * - content: The question prompting this response.
 * - response: The AI generated response as text.
 * - items: An array of serach results, each element has
 *      - "content" => Extract from page defined by "link"
 *      - "id" => A unique id for the result
 *      - "link" => A link to the page result
 *      - "link_title" => A title for the page result, usually to the canonical homepage
 *      - "ref" => The reference to the result from the AI Model
 *      - "summary" => A summary of the page result
 *      - "title" => A title for the page result
 * - metadata: An array with metadata returned by the AI Model.
 * - references: An array with references returned by the AI Model.
 * - citations: An array with citations returned by the AI Model.
 * - id: The conversation ID for persistence.
 */
#}
<article class="search-response-wrapper">
  {{ breakpoint() }}

  <div class="search-request">{{ content }}</div>

  <div class="search-response">
    {{ response }}
{#    {% if citations %}#}
{#      <div class="search-citations-wrapper">#}
{#        {% for key,citation in citations %}#}
{#          <div class="search-citation search-citation-{{ key }}">{{ citation }}</div>#}
{#        {% endfor %}#}
{#      </div>#}
{#    {% endif %}#}
  </div>

  <div class="search-results-wrapper">
    {% for key,item in items %}
      <div class="search-result-wrapper search-result-{{ key }}">
        <a href="{{ item.link }}">{{ item.title }}</a>
        <div class="search-result">{{ item.summary|raw }}</div>
      </div>
    {% endfor %}
  </div>

{#  {% if references %}#}
{#    <div class="search-references-wrapper">#}
{#      {% for key,reference in references %}#}
{#        <div class="search-reference search-reference-{{ key }}">{{ reference }}</div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  {% endif %}#}

{#  {% if metadata %}#}
{#    <div class="search-metadata-wrapper">#}
{#      {% for key,meta in metadata %}#}
{#        <div class="search-metadata search-metadata-{{ key }}">{{ meta }}</div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  {% endif %}#}

</article>
