{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https%0%
 #}
{% if content.intro_image %}

  {{ content.intro_image }}

{% endif %}

<article{{ attributes }}>

    <header class="topic-header">

      {{ title_prefix }}

      {% if not page and title  %}

        <h2{{ title_attributes }}>
          <a href="{{ node_url }}">{{ title.0 }}</a>
        </h2>

      {% endif %}

      {{ title_suffix }}

      <div class="topic-hero-text-wrapper">

        <div class="intro-container fullwidth">

          {% if title %}
            <div class="intro-title">
              <div class="intro-title-wrapper">

                <div class="topic-title-prefix">
                  <span></span>guide<span></span>
                </div>

                {{ title_prefix }}

                <h1 id="topicTitle">{{ title.0 }}</h1>

                <div class="topic-subhead">
                  {% if (content.field_updated_date["#items"]) %}
                    Last updated: {{ content.field_updated_date }}
                  {% elseif (content.field_published_date["#items"]) %}
                    Last updated: {{ content.field_published_date }}
                  {% else %}
                    Not published yet!
                  {% endif %}
                </div>

              </div>
            </div>
          {% endif %}

          <div class="intro-content">

            {% if content.field_intro_text %}
              <div class="topic-intro-text-container">
                <div class="intro-text-top">
                  {{ drupal_block('system_breadcrumb_block') }}
                </div>
                <div class="topic-intro-text-content">

                  {{ content.field_intro_text }}

                </div>
              </div>
            {% endif %}

          </div>

        </div>
      </div>

      {% include 'themes/custom/bos_theme/templates/snippets/topic-nav.html.twig' %}

    </header>

  {{ content.field_components }}

  {% if content.field_contacts.0 %}
    <section class="b b--fw b--g">
      <div class="b-c">
        <div class="sh m-b500">
          <h2 data-short-title="Departments" class="sh-title">Departments You May Need</h2>
        </div>
        <div class="g">
          {{ content.field_contacts }}
        </div>
      </div>
    </section>
  {% endif %}

</article>
