{#
/**
 * @file
 *   Template for contact info in the sidebar area of a content type.
 */
#}
{% if display_field_tag %}
    <{{ field_tag|default('div') }}{{ attributes.addClass(classes, 'field__items') }}>
{% endif %}

    {% if not label_hidden and display_label_tag %}
        <{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ label_tag|default('div') }}>
    {% endif %}

<div class="detail-item detail-item__{{ field_name }}">
    <div class="detail-item__left">
        <img src="https://patterns.boston.gov/images/global/icons/icon-location.svg" class="icon icon-location" alt="Location" />
    </div>
    {% for item in items %}
        {% if display_item_tag %}
            <{{ field_item_tag|default('div') }}{{ item.attributes.addClass('field__item') }}>
        {% endif %}
        <div class="detail-item__content">
          <div class="detail-item__body detail-item__body--secondary">
            <div class="addr addr--s locality-block country-US" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <div itemprop="streetAddress" class="addr-a street-block">
                {{ item.content.address_line1["#value"] }}
                {% if item.content.address_line2 %}
                  <br /> {{ item.content.address_line2["#value"] }}
                {% endif %}
              </div>
              <div class="addr-l">
                <span itemprop="addressLocality" class="locality">{{ item.content.locality["#value"] }}</span>, <span itemprop="addressRegion" class="state">{{ item.content.administrative_area }}</span> <span itemprop="postalCode" class="postal-code">{{ item.content.postal_code }}</span>
              </div>
              <span class="country hidden">{{ item.content.country }}</span>
            </div>
          </div>
        </div>
        {% if display_item_tag %}
            </{{ field_item_tag|default('div') }}>
        {% endif %}
    {% endfor %}
</div>

{% if display_field_tag %}
    </{{ field_tag|default('div') }}>
{% endif %}

