{#
/**
 * @file
 *   Template for contact info in the sidebar area of a content type.
 */
#}
{% if display_field_tag %}
    <{{ field_tag|default('div') }}{{ attributes.addClass(classes, 'field__items') }}>
{% endif %}

    {% if not label_hidden and display_label_tag %}
        <{{ label_tag|default('div') }}{{ title_attributes.addClass(title_classes) }}>{{ label }}</{{ label_tag|default('div') }}>
    {% endif %}

<div class="detail-item detail-item--middle detail-item__{{ field_name }}">
    <div class="detail-item__left">
        <img src="https://patterns.boston.gov/images/global/icons/icon-email.svg" class="icon icon-email" alt="Email" />
    </div>
    {% for item in items %}

        {% if display_item_tag %}
            <{{ field_item_tag|default('div') }}{{ item.attributes.addClass('field__item') }}>
        {% endif %}

        {% if hide_form == TRUE %}
            {% set hide_class = "class=hide-form" %} 
        {% else %}
            {% set hide_class = "" %}
        {% endif%} 


        <div class="detail-item__content">
            <div class="detail-item__body detail-item__body--secondary">
                <a href="mailto:{{ item.content }}" title="Have a question, or just need help? You can send an email to {{ item.content }} through the form below." {{ hide_class }} >{{ item.content }}</a>
            </div>
        </div>

        {% if display_item_tag %}
            </{{ field_item_tag|default('div') }}>
        {% endif %}

    {% endfor %}
</div>

{% if display_field_tag %}
    </{{ field_tag|default('div') }}>
{% endif %}
