{% if not is_expired %}

<article{{ attributes }}>

  <div class="desktop-2-col featured-item-details featured-item-details--relative">

    {% if content.field_event_date_recur.0['#date'].start_date['#attributes'].datetime %}
      <div class="date-flag date-flag--blue date-flag--left">
        {{ content.field_event_date_recur.0['#date'].start_date['#attributes'].datetime|date('U')|format_date('custom', 'M j') }}
      </div>
    {% endif %}

    <h3 class="featured-event-title">{{ content.title.0['#context'].value }}</h3>

    <div class="featured-description">
      <div class="intro-text">
        <p>{{ content.field_intro_text.0['#text']|raw }}</p>
      </div>
    </div>

    {% if content.field_details_link["#items"] %}
      <div class="external-link external-link--inline">
        <a class="button" href="{{ content.field_details_link.0['#url'] }}">Event website<span class="a11y--hidden"> for {{ content.title.0['#context'].value }}</span></a>
      </div>
    {% else %}
      <a class="button" href="{{ node_url }}">Event details<span class="a11y--hidden"> for {{ content.title.0['#context'].value }}</span></a>
    {% endif %}

  </div>

  <div class="desktop-2-col featured-item-thumb">
    <div class="featured-thumb-wrapper">
      <div class="featured-banner">Featured</div>
      {{ content.field_thumbnail }}
    </div>
  </div>

</article>

{% endif %}
