{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
#}
<style>
#assessing {
	margin-top:50px;
}
#assessing .dl-d {
	text-align:right;
}
#assessing .squiggle-border-bottom{
	padding-top:10px;
}
#assessing #parcel_info .dl-i{
	border-bottom:0;
	/*padding:8px 0;*/
}
#assessing .custom .detail-item{
	line-height: normal;
    font-size: 90%;
}
.assessing-right-column li.dl-i{
	border-bottom:0;
}
.assessing-right-column li.dotted{
	border-bottom: 1px dashed #e0e0e0;
}
.assessing-right-column .dl-t{
	width:80%;
}
.assessing-right-column .dl-d{
	width:20%;
}

#map-container{
	width:100%;
	height:400px;
	margin-bottom:20px;
}
</style>

{% set data = data_full.result.records[0] %}
{% set coords = data_coords.features[0].geometry.coordinates %}

{% set dataCondo = {
    "Master Parcel" : attribute(data,'GIS_ID'),
    "Grade" : "",
    "Exterior Condition" : "",
    "Exterior Finish" : "",
    "Foundation" : "",
    "Roof Cover" : "",
    "Roof Structure" : "",

}%}
{% set pType = (attribute(data,'PTYPE')  == '0102') ? 'U' : 'R' %}
{% set dataUnit = {
    "Complex" : "",
    "Land Use" : "",
    "Year Built" : attribute(data,'YEAR_BUILT'),
    "Story Height" : "",
    "Floor" : attribute(data,'NUM_FLOORS'),
    "Orientation" : attribute(data,'GIS_ID'),
    "View" : attribute(data, pType ~ '_VIEW'),
    "Corner Unit" : attribute(data, pType ~ '_CORNER'),
    "Penthouse Unit" : attribute(data,'GIS_ID'),
    "AC Type" : attribute(data, pType ~ '_AC'),
    "Heat Type" : attribute(data, pType ~ '_HEAT_TYP'),
    "Fireplaces" : attribute(data, pType ~ '_FPLACE'),
    "Interior Condition" : attribute(data, pType ~ '_INT_CND'),
    "Total Rooms" : attribute(data, pType ~ '_TOT_RMS'),
    "Bedrooms" : attribute(data, pType ~ '_BDRMS'),
    "Bedroom Type" : "",
    "Full Bathrooms" : attribute(data, pType ~ '_FULL_BTH'),
    "Half Bathrooms" : attribute(data, pType ~ '_HALF_BTH'),
    "Bath Style 1" : attribute(data, pType ~ '_BTH_STYLE'),
    "Bath Style 2" : attribute(data, pType ~ '_BTH_STYLe2'),
    "Bath Style 3" : attribute(data, pType ~ '_BTH_STYLe3'),
    "Number of Kitchens" : "",
    "Kitchen Type" : "",
    "Kitchen Style 1" : attribute(data, pType ~ '_KITCH_STYLE'),
    "Kitchen Style 2" : attribute(data, pType ~ '_KITCH_STYLE2'),
    "Kitchen Style 3" : attribute(data, pType ~ '_KITCH_STYLE3'),
    "Parking Spots" : attribute(data, pType ~ '_NUM_PARK'),
    "Parking Type" : "",
    "Parking OwnerShip" : "",
    "Tandem Parking" : "",
}%}


<div class="breadcrumb" data-swiftype-index="false">
  {{ drupal_block('system_breadcrumb_block') }}
</div>

<div id="assessing">
	<div class="desktop-100">
		<h1 class="title">Assessing Online</h1>

		<div class="column mobile-100 desktop-66-left">
			<div id="parcel_info" class="component-section m-b600">
				<div class="sh cl">
        			<h2 class="sh-title">Parcel Information</h2>
        		</div>
    		
				<div id="map-container" class="geolocation-map-wrapper">
					{# % include '@bos_assessing/map.html.twig' % #}
					{% set drupal_settings = {
					  '#attached': {
					    'drupalSettings': {
					      'bos_assessing': {
					        'coords': coords
					      }
					    }
					  }
					} %}
					{{ drupal_settings }}
					{{ attach_library('bos_assessing/assessing_map') }}
					{{ drupal_view('assessing', 'block_1') }}
					{#{ drupal_dump(fields) }#}
				</div>

				<div class="desktop-100">
					<ul class="dl column desktop-50">
	        			<li class="dl-i">
	        				<div class="detail-item__label">PARCEL ID</div>
	        				<div class="detail-item">545435G4544</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">ADDRESS</div>
	        				<div class="detail-item">{{ attribute(data,'MAIL_ADDRESS') ~' '~ attribute(data,'MAIL CS') }}</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">PROPERTY TYPE</div>
	        				<div class="detail-item">545435G4544</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">CLASSIFICATION CODE</div>
	        				<div class="detail-item">{{ attribute(data,'PTYPE') }}</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">GROSS AREA</div>
	        				<div class="detail-item">{{ attribute(data,'GROSS_AREA') }} sq ft</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">LOT SIZE</div>
	        				<div class="detail-item">32,545 sq ft</div>
	        			</li>
						<li class="dl-i">
	        				<div class="detail-item__label">YEAR BUILT</div>
	        				<div class="detail-item">1920</div>
	        			</li>
					</ul>
					<ul class="dl column desktop-50 custom">
						<li class="dl-i">
	        				<div class="detail-item__label">OWNER</div>
	        				<div class="detail-item">MATT SMITH</div>
	        			</li>
	        			<li>
	        				<div class="detail-item">Owner information may not reflect any changes submitted to City of Boston Assessing after October 20, 2020. Only Primary owner is displayed</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">OWNER'S MAILING ADDRESS</div>
	        				<div class="detail-item">545435G4544</div>
	        			</li>
					</ul>
					<div class="clearfix"></div>
				</div>

			</div>
			<div class="component-section m-b600">
			  	<div class="sh cl">
        			<h2 class="sh-title">Property Attributes</h2>
        		</div>
        		<ul class="dl">
        			<li class="dl-i">
        				<div class="detail-item__label">Condo</div>
        			</li>
				    {% for key,value in dataCondo %}
				    <li class="dl-i">
				        <span class="dl-t">{{ key }}</span>
				        <span class="dl-d">{{ value }}</span>
				    </li>
				    {% endfor %}
				</ul>
				<div class="squiggle-border-bottom">&nbsp;</div>
				<ul class="dl">
        			<li class="dl-i">
        				<div class="detail-item__label">Unit</div>
        			</li>
				   {% for key,value in dataUnit %}
				    <li class="dl-i">
				        <span class="dl-t">{{ key }}</span>
				        <span class="dl-d">{{ value }}</span>
				    </li>
				    {% endfor %}
				</ul>
				<div class="squiggle-border-bottom">&nbsp;</div>
			</div>
		</div>
		<div class="column mobile-100 desktop-33-right">
			<div class="component-section custom">
			  	<div class="sh cl">
        			<h2 class="sh-title">Value Tax</h2>
        		</div>
        		<ul class="dl">
        			<li class="dl-i">
        				<div class="detail-item__label m-b300">Fiscal Year 2021 Assessment Breakdown</div>
        				<div class="detail-item">Assessment as of Wednesday, January 1, 2021, statutory lien date.</div>
        			</li>
        		</ul>
       			<ul class="dl assessing-right-column">
       				<li class="dl-i dotted">
				        <span class="dl-t"></span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Total Full Valuation</span>
				        <span class="dl-d">{{ attribute(data,'AV_BLDG') }}</span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Residential Exemption</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Total Taxable Valuation</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Residential Tax Rate *</span>
				        <span class="dl-d">10.99</span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Commercial Tax Rate *</span>
				        <span class="dl-d">12.99</span>
				    </li>
				     <li class="dl-i">
				        <span class="dl-t">* Per Thousand</span>
				        <span class="dl-d"></span>
				    </li>
				</ul>
				<ul class="dl assessing-right-column">
					<li class="dl-i dotted">
				        <span class="dl-t"></span>
				        <span class="dl-d"></span>
				    </li>
					<li class="dl-i">
				        <span class="dl-t">Community Preservation Act</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Special Assessments</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Total Tax &amp; Spec Assmnt Due</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Personal Exemptions</span>
				        <span class="dl-d"></span>
				    </li>
				</ul>
				<ul class="dl assessing-right-column">
					<li class="dl-i dotted">
				        <span class="dl-t"></span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
        				<div class="dl-t detail-item__label">FY2021 Net Tax</div>
        				<span class="dl-d"> xxxx.xx</span>
        			</li>

				</ul>
				<div class="squiggle-border-bottom">&nbsp;</div>
				<ul class="dl assessing-right-column">
        			<li class="dl-i">
        				<div class="detail-item__label">Residential Exemption</div>
        				<div class="detail-item m-b300">No</div>
        				<div class="detail-item m-b300">The deadline for a Residential Exemption submission is April 1, 2021.</div>
        				<div>
					        <a class="btn btn--sm btn--100">file residential exemption</a>
					    </div>
					    <div class="squiggle-border-bottom">&nbsp;</div>
        			</li>
        		</ul>
        		<ul class="dl assessing-right-column">
        			<li class="dl-i">
        				<div class="detail-item__label">Personal Exemption</div>
        				<div class="detail-item m-b300">No</div>
        				<div class="detail-item m-b300">The deadline for a Personal Exemption submission is April 1, 2021.</div>
        				<div>
					        <a class="btn btn--sm btn--100">file personal exemption</a>
					    </div>
					    <div class="squiggle-border-bottom">&nbsp;</div>
        			</li>
        		</ul>
        		<div>
        			<div class="detail-item m-b300">View Quarterly Tax Bill and Payment Information for this parcel for FY2020 and FY2021.</div>
        			<div class="detail-item m-b300">View approved building permits associated with this parcel.</div>
        			<div class="detail-item m-b300">View Quarterly Tax Bill and Payment Information for this parcel for FY2020 and FY2021.</div>
        		</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- end columns -->
</div>

<!-- end Assessing section -->
<div class="b--fw b--g">
	<div class="b-c">
		<div class="sh cl">
			<h2 class="sh-title">How To File For A</h2>
		</div>
		<div class="g">
			<a class="cd g--4 g--4--sl m-t500 cdp-l mnl-section" title="Representation" style="text-align: left;">
				<div class="pointer-mnl" tabindex="0">
				<div class="cd-ic bg--cb" style="padding: 20px 0px 0px;">
					<img src="https://assets.boston.gov/icons/experiential_icons/conversation.svg" style="max-height: 150px;">
				</div>
				<div class="cd-c">
					<span class="h3 t--upper">
						{% include '@bos_assessing/section.html.twig' %}
						 Abatement
					</span>
					<div class="cdp-st">
						Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups
					</div>
				</div>
				</div>
			</a>
			<a class="cd g--4 g--4--sl m-t500 cdp-l mnl-section" title="Representation" style="text-align: left;">
				<div class="pointer-mnl" tabindex="0">
				<div class="cd-ic bg--cb" style="padding: 20px 0px 0px;">
					<img src="https://assets.boston.gov/icons/experiential_icons/conversation.svg" style="max-height: 150px;">
				</div>
				<div class="cd-c">
					<span class="h3 t--upper">Personal Exemption</span>
					<div class="cdp-st">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</div>
				</div>
				</div>
			</a>
			<a class="cd g--4 g--4--sl m-t500 cdp-l mnl-section" title="Representation" style="text-align: left;">
				<div class="pointer-mnl" tabindex="0">
				<div class="cd-ic bg--cb" style="padding: 20px 0px 0px;">
					<img src="https://assets.boston.gov/icons/experiential_icons/conversation.svg" style="max-height: 150px;">
				</div>
				<div class="cd-c">
					<span class="h3 t--upper">Residential Exemption</span>
					<div class="cdp-st">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</div>
				</div>
				</div>
			</a>
		</div>
	</div>
</div>

<!-- end container -->
