{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
#}
<style>
#assessing {
	margin-top:50px;
}
#assessing .detail-item {
	line-height:normal;
}
#assessing .dl-d {
	text-align:right;
}
#assessing .squiggle-border-bottom{
	padding-top:10px;
}
#assessing #parcel_info .dl-i {
	border-bottom:0;
}
#assessing #parcel_info .dl-i, 
#assessing #value_tax .dl-i{
	padding:10px 0;
}
#assessing .custom .detail-item{
	line-height: normal;
    font-size: 90%;
}
.assessing-right-column li.dl-i{
	border-bottom:0;
}
.assessing-right-column li.dotted{
	border-bottom: 1px dashed #e0e0e0;
}
.assessing-right-column .dl-t{
	width:70%;
}
.assessing-right-column .dl-d{
	width:30%;
}
#map-container{
	width:100%;
	height:400px;
	margin-bottom:20px;
}
</style>

{% set data = data_full.result.records[0] %}
{% set coords = data_coords.features[0].geometry.coordinates %}
{% set unitDisplay = (attribute(data,'LUC') == '102') ? ' #'~attribute(data,'UNIT_NUM') : '' %}
{% set propertyType = (attribute(data,'LUC') == '102') ? 'Apartment Building' : 'Single Family Home' %}

{% set masterParcelId = attribute(data,'GIS_ID') %}
{% set masterParcelLink = "<a href="~attribute(data,'GIS_ID')~">"~attribute(data,'GIS_ID')~"</a>" %}

{% set dataMain = {
    "Grade" : "",
    "Exterior Condition" : attribute(data, 'EXT_COND'),
    "Exterior Style" : attribute(data, 'BLDG_TYPE'),
    "Exterior Finish" : attribute(data, 'EXT_FININISHED'),
    "Foundation" : "",
    "Roof Cover" : attribute(data, 'ROOF_COVER'),
    "Roof Structure" : attribute(data, 'ROOF_STRUCTURE')}
%}

{% set dataCondo = {
	"Master Parcel" : masterParcelLink,
	"Corner Unit" : attribute(data, 'CORNER_UNIT'),
    "Penthouse Unit" : "",
    "Floor" : "" ,}
%}

{% set dataUnit = {
    "Land Use" : attribute(data,'LU_DESC'),
    "Story Height" : attribute(data,'RES_FLOORS'),
    "Orientation" : "",
    "View" : attribute(data, 'PROP_VIEW'),
    "AC Type" : attribute(data, 'AC_TYPE'),
    "Heat Type" : attribute(data, 'HEAT_TYPE'),
    "Fireplaces" : attribute(data, 'FIRE_PLACE'),
    "Plumbing" : attribute(data, 'PlUMBING'),
    "Interior Condition" : attribute(data, 'INT_COND'),
    "Total Rooms" : attribute(data, 'TT_RMS'),
    "Bedrooms" : attribute(data, 'BED_RMS'),
    "Full Bathrooms" : attribute(data, 'FULL_BTH'),
    "Half Bathrooms" : attribute(data, 'HLF_BTH'),
    "Bath Style 1" : attribute(data, 'BTHRM_STYLE1'),
    "Bath Style 2" : attribute(data, 'BTHRM_STYLE2'),
    "Bath Style 3" : attribute(data, 'BTHRM_STYLE3'),
    "Number of Kitchens" : attribute(data, 'KITCHEN'),
    "Kitchen Type" : attribute(data, 'KITCHEN_TYPE'),
    "Kitchen Style 1" : attribute(data, 'KITCHEN_STYLE1'),
    "Kitchen Style 2" : attribute(data, 'KITCHEN_STYLE2'),
    "Kitchen Style 3" : attribute(data, 'KITCHEN_STYLE3'),
    "Parking Spots" : attribute(data, 'NUM_PARKING'),
    "Parking Type" : "",
    "Parking Ownership" : "",
    "Tandem Parking" : "",}
%}

<div class="breadcrumb" data-swiftype-index="false">
  {{ drupal_block('system_breadcrumb_block') }}
</div>

<div id="assessing">
	<div class="desktop-100">
		<h1 class="title">Assessing Online</h1>

		<div class="column mobile-100 desktop-66-left">
			<div id="parcel_info" class="component-section m-b600">
				<div class="sh cl">
        			<h2 class="sh-title">Parcel Information</h2>
        		</div>
    		
				<div id="map-container" class="geolocation-map-wrapper">
					{% set drupal_settings = {
					  '#attached': {
					    'drupalSettings': {
					      'bos_assessing': {
					        'coords': coords
					      }
					    }
					  }
					} %}
					{{ drupal_settings }}
					{{ drupal_view('assessing', 'block_1') }}
					{#{ drupal_dump(fields) }#}
				</div>

				<div class="desktop-100">
					<ul class="dl column desktop-50">
	        			<li class="dl-i">
	        				<div class="detail-item__label">PARCEL ID</div>
	        				<div class="detail-item">{{ attribute(data,'PID') }}</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">ADDRESS</div>
	        				<div class="detail-item">{{ attribute(data,'ST_NUM') ~' '~ attribute(data,'ST_NAME')~ ' ' ~attribute(data,'ST_NAME_SUF')~unitDisplay~ ' ' ~attribute(data,'ZIPCODE') }}</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">PROPERTY TYPE</div>
	        				<div class="detail-item">{{ propertyType }}</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">CLASSIFICATION CODE</div>
	        				<div class="detail-item">{{ attribute(data,'LUC') }}</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">GROSS AREA</div>
	        				<div class="detail-item">{{ attribute(data,'GROSS_AREA')|number_format(thousands_separator) }} sq ft</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">LOT SIZE</div>
	        				<div class="detail-item">{{ attribute(data,'LIVING_AREA')|number_format(thousands_separator) }} sq ft</div>
	        			</li>
						<li class="dl-i">
	        				<div class="detail-item__label">YEAR BUILT</div>
	        				<div class="detail-item">{{ attribute(data,'YR_BUILT') }}</div>
	        			</li>
					</ul>
					<ul class="dl column desktop-50 custom">
						<li class="dl-i">
	        				<div class="detail-item__label">OWNER</div>
	        				<div class="detail-item">{{ attribute(data,'OWNER') }}</div>
	        			</li>
	        			<li>
	        				<div class="detail-item">Owner information may not reflect any changes submitted to City of Boston Assessing after October 20, 2020. Only Primary owner is displayed</div>
	        			</li>
	        			<li class="dl-i">
	        				<div class="detail-item__label">OWNER'S MAILING ADDRESS</div>
	        				<div class="detail-item">{{ attribute(data,'MAIL_ADDRESSEE')~ ' ' ~attribute(data,'MAIL_ADDRESS') ~' '~ attribute(data,'MAIL CS')~ ' ' ~  attribute(data,'MAIL_ZIPCODE')}}</div>
	        			</li>
					</ul>
					<div class="clearfix"></div>
				</div>

			</div>
			<div class="component-section m-b600">
			  	<div class="sh cl">
        			<h2 class="sh-title">Property Attributes</h2>
        		</div>
        		<ul class="dl">
				    {% if (propertyType == 'Apartment Building') %}
					    <li class="dl-i">
	        				<div class="detail-item__label">Condo</div>
	        			</li>
					    {% for key,value in dataCondo %}
					    <li class="dl-i">
					        <span class="dl-t">{{ key }}</span>
					        <span class="dl-d">{{ value|raw }}</span>
					    </li>
					    {% endfor %}
					{% endif %}
					{% for key,value in dataMain %}
				    <li class="dl-i">
				        <span class="dl-t">{{ key }}</span>
				        <span class="dl-d">{{ value }}</span>
				    </li>
				    {% endfor %}

				    {% if (propertyType == 'Apartment Building') %}
				    <div class="squiggle-border-bottom">&nbsp;</div>
				    {% endif %}

				</ul>
				<ul class="dl">
					{% if (propertyType == 'Apartment Building') %}
        			<li class="dl-i">
        				<div class="detail-item__label">Unit</div>
        			</li>
        			{% else %}
        			<li class="dl-i"></li>
        			{% endif %}
				    {% for key,value in dataUnit %}
				    <li class="dl-i">
				        <span class="dl-t">{{ key }}</span>
				        <span class="dl-d">{{ value }}</span>
				    </li>
				    {% endfor %}
				</ul>
				<div class="squiggle-border-bottom">&nbsp;</div>
			</div>
		</div>
		<div id="value_tax" class="column mobile-100 desktop-33-right">
			<div class="component-section custom">
			  	<div class="sh cl">
        			<h2 class="sh-title">Value Tax</h2>
        		</div>
        		<ul class="dl">
        			<li class="dl-i">
        				<div class="detail-item__label m-b300">Fiscal Year 2021 Assessment Breakdown</div>
        				<div class="detail-item">Assessment as of Wednesday, January 1, 2021, statutory lien date.</div>
        			</li>
        		</ul>
       			<ul class="dl assessing-right-column">
       				<li class="dl-i dotted">
				        <span class="dl-t"></span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Total Full Valuation</span>
				        <span class="dl-d">{{ attribute(data,'TOTAL_VALUE') }}</span>
				        <!--<span class="dl-d">{{ attribute(data,'TOTAL_VALUE')|number_format(2, '.', ',') }}</span>-->
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Residential Exemption</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Total Taxable Valuation</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Residential Tax Rate *</span>
				        <span class="dl-d">xx.xx</span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Commercial Tax Rate *</span>
				        <span class="dl-d">xx.xx</span>
				    </li>
				     <li class="dl-i">
				        <span class="dl-t">* Per Thousand</span>
				        <span class="dl-d"></span>
				    </li>
				</ul>
				<ul class="dl assessing-right-column">
					<li class="dl-i dotted">
				        <span class="dl-t"></span>
				        <span class="dl-d"></span>
				    </li>
					<li class="dl-i">
				        <span class="dl-t">Community Preservation Act</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Special Assessments</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Total Tax &amp; Spec Assmnt Due</span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
				        <span class="dl-t">Personal Exemptions</span>
				        <span class="dl-d"></span>
				    </li>
				</ul>
				<ul class="dl assessing-right-column">
					<li class="dl-i dotted">
				        <span class="dl-t"></span>
				        <span class="dl-d"></span>
				    </li>
				    <li class="dl-i">
        				<div class="dl-t detail-item__label">FY2021 Net Tax</div>
        				<span class="dl-d"> {{ attribute(data,'GROSS_TAX') }}</span>
        			</li>

				</ul>
				<div class="squiggle-border-bottom">&nbsp;</div>
				<ul class="dl assessing-right-column">
        			<li class="dl-i">
        				<div class="detail-item__label">Residential Exemption</div>
        				<div class="detail-item m-b300">No</div>
        				<div class="detail-item m-b300">The deadline for a Residential Exemption submission is April 1, 2021.</div>
        				<div>
					        <a class="btn btn--sm btn--100">file residential exemption</a>
					    </div>
					    <div class="squiggle-border-bottom">&nbsp;</div>
        			</li>
        		</ul>
        		<ul class="dl assessing-right-column">
        			<li class="dl-i">
        				<div class="detail-item__label">Personal Exemption</div>
        				<div class="detail-item m-b300">No</div>
        				<div class="detail-item m-b300">The deadline for a Personal Exemption submission is April 1, 2021.</div>
        				<div>
					        <a class="btn btn--sm btn--100">file personal exemption</a>
					    </div>
					    <div class="squiggle-border-bottom">&nbsp;</div>
        			</li>
        		</ul>
        		<div>
        			<div class="detail-item m-b300">View Quarterly Tax Bill and Payment Information for this parcel for FY2020 and FY2021.</div>
        			<div class="detail-item m-b300">View approved building permits associated with this parcel.</div>
        			<div class="detail-item m-b300">View Quarterly Tax Bill and Payment Information for this parcel for FY2020 and FY2021.</div>
        		</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- end columns -->
</div>

<!-- end Assessing section -->
<div class="b--fw b--g">
	<div class="b-c">
		<div class="sh cl">
			<h2 class="sh-title">How To File For A</h2>
		</div>
		<div class="g">
			<a class="cd g--4 g--4--sl m-t500 cdp-l mnl-section" title="Representation" style="text-align: left;">
				<div class="pointer-mnl" tabindex="0">
				<div class="cd-ic bg--cb" style="padding: 20px 0px 0px;">
					<img src="https://assets.boston.gov/icons/experiential_icons/conversation.svg" style="max-height: 150px;">
				</div>
				<div class="cd-c">
					<span class="h3 t--upper">
						{% include '@bos_assessing/section.html.twig' %}
						 Abatement
					</span>
					<div class="cdp-st">
						Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups
					</div>
				</div>
				</div>
			</a>
			<a class="cd g--4 g--4--sl m-t500 cdp-l mnl-section" title="Representation" style="text-align: left;">
				<div class="pointer-mnl" tabindex="0">
				<div class="cd-ic bg--cb" style="padding: 20px 0px 0px;">
					<img src="https://assets.boston.gov/icons/experiential_icons/conversation.svg" style="max-height: 150px;">
				</div>
				<div class="cd-c">
					<span class="h3 t--upper">Personal Exemption</span>
					<div class="cdp-st">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</div>
				</div>
				</div>
			</a>
			<a class="cd g--4 g--4--sl m-t500 cdp-l mnl-section" title="Representation" style="text-align: left;">
				<div class="pointer-mnl" tabindex="0">
				<div class="cd-ic bg--cb" style="padding: 20px 0px 0px;">
					<img src="https://assets.boston.gov/icons/experiential_icons/conversation.svg" style="max-height: 150px;">
				</div>
				<div class="cd-c">
					<span class="h3 t--upper">Residential Exemption</span>
					<div class="cdp-st">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</div>
				</div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- end container -->
{{ attach_library('bos_assessing/assessing_map') }}
