{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
 #}

{% set has_chief = content.field_person %}
<div {{ attributes.addClass(["b", "b--fw"]) }}>
  <div class="b-c b-c--wtb">
    <div class="g">
      {% if has_chief %}
        <div class="g--3">
          {{ content.field_person }}
        </div>
      {% endif %}
      <div class="g--{% if has_chief %}9{% else %}12{% endif %}">
        <div class="g">
          <div class="g--12 g--8--xl p-t500--mo">
            <h3 class="t--intro m-t000 m-b200">{{ content.field_title }}</h3>
            {{ content.contextual_links }}
            {{ content.field_description }}
          </div>

          <div class="g--12 g--4--xl">
            {% if content.field_contacts %}
              <h5 class="m-t000 m-b200">Departments, Boards, &amp; Agencies</h5>
              <ul class="ul t--upper t--sans">
              {% for key, item in content.field_contacts %}
                {% if key|first != '#' %}
                  <li class="t--s100 lh--200 item-{{ key + 1 }}">{{ item }}</li>
                {% endif %}
              {% endfor %}
              </ul>
            {% else %}
              &nbsp;
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
