{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
 #}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="drawer-trigger mobile-only">
  <div class="drawer-trigger-chevron"></div>
  Filter
</div>
  <div class="views-exposed-widgets clearfix">
    <div class="drawer-wrapper">
      <div class="drawer-trigger">
          <div class="drawer-trigger-chevron"></div>
          {{ form.field_event_dates_value['#title'] }}
      </div>
      <div class="drawer drawer-{{ form.field_event_dates_value['#name'] }}">
        <div id="{{ form.field_event_dates_value['#id'] }}-wrapper" class="views-exposed-widget views-widget-{{ form.field_event_dates_value['#id'] }}">
          <div class="views-widget">
            {{ form.field_event_dates_value }}
            {{ form.field_event_dates_value_1 }}
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-wrapper">
      <div class="drawer-trigger">
          <div class="drawer-trigger-chevron"></div>
          {{ form.tid['#title'] }}
      </div>
      <div class="drawer drawer-{{ form.tid['#name'] }}">
        <div id="{{ form.tid['#id'] }}-wrapper" class="views-exposed-widget views-widget-{{ form.tid['#id'] }}">
          <div class="views-widget">
            {{ form.tid }}
          </div>
        </div>
      </div>
    </div>
    {% if form.actions.submit %}
      <div class="views-exposed-widget views-submit-button">
        {{ form.actions.submit }}
      </div>
    {% endif %}
    {% if form.actions.reset %}
      <div class="views-exposed-widget views-reset-button">
        {{ form.actions.reset }}
      </div>
    {% endif %}
  </div>
</div>
