{#
 * @file
 * Main view template.
 *
 * Variables available:
 * - $classes_array: An array of classes determined in
 *   template_preprocess_views_view(). Default classes are:
 *     .view
 *     .view-[css_name]
 *     .view-id-[view_name]
 *     .view-display-id-[display_name]
 *     .view-dom-id-[dom_id]
 * - $classes: A string version of $classes_array for use in the class attribute
 * - $css_name: A css-safe version of the view name.
 * - $css_class: The user-specified classes names, if any
 * - $header: The view header
 * - $footer: The view footer
 * - $rows: The results of the view query, if any
 * - $empty: The empty text to display if the view is empty
 * - $pager: The pager next/prev links to display, if any
 * - $exposed: Exposed widget form/info to display
 * - $feed_icon: Feed icon to display, if any
 * - $more: A link to view more, if any.
 *
 * @ingroup views_templates
 #}

<div class="b-c">
  <div class="g">
    <div class="g--3">
      {{ title_prefix }}
      {% if title %}
        {{ title }}
      {% endif %}
      {{ title_suffix }}
      {% if header %}
        <div class="view-header">
          {{ header }}
        </div>
      {% endif %}

      <div class="view-filters sidebar">
        {% if exposed %}
          {{ exposed }}
        {% endif %}
      </div>
    </div>

    <div class="view-content g--9">
      {% if attachment_before %}
        {{ attachment_before }}
      {% endif %}
      {% if rows %}
        {{ rows }}
      {% elseif empty %}
        {{ empty }}
      {% endif %}
      {% if pager %}
        {{ pager }}
      {% endif %}
      {% if attachment_after %}
        {{ attachment_after }}
      {% endif %}
      {% if more %}
        {{ more }}
      {% endif %}
    </div>
  </div>
</div>

{% if footer %}
  <div class="view-footer">
    {{ footer }}
  </div>
{% endif %}

{% if feed_icon %}
  <div class="feed-icon">
    {{ feed_icon }}
  </div>
{% endif %}
