{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
 #}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="drawer-trigger mobile-only">
  <div class="drawer-trigger-chevron"></div>
  Filter
</div>
<div class="views-exposed-form drawer mobile-only">
  <div class="views-exposed-widgets clearfix">
    <div class="drawer-wrapper">
      <div class="drawer-trigger">
          <div class="drawer-trigger-chevron"></div>
          {{ form.title['#title'] }}
      </div>
      <div class="drawer drawer-{{ form.title['#name'] }}">
        <div id="{{ form.title['#id'] }}-wrapper" class="views-exposed-widget views-widget-{{ form.title['#id'] }}">
          <div class="views-widget">
            {{ form.title }}
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-wrapper">
      <div class="drawer-trigger">
          <div class="drawer-trigger-chevron"></div>
          {{ form.field_awarding_authority_target_id['#title'] }}
      </div>
      <div class="drawer drawer-{{ form.field_awarding_authority_target_id['#name'] }}">
        <div id="{{ form.field_awarding_authority_target_id['#id'] }}-wrapper" class="views-exposed-widget views-widget-{{ form.field_awarding_authority_target_id['#id'] }}">
          <div class="views-widget">
            {{ form.field_awarding_authority_target_id }}
          </div>
        </div>
      </div>
    </div>
    {% if form.actions.submit %}
      <div class="views-exposed-widget views-submit-button">
        {{ form.actions.submit }}
      </div>
    {% endif %}
    {% if form.actions.reset %}
      <div class="views-exposed-widget views-reset-button">
        {{ form.actions.reset }}
      </div>
    {% endif %}
  </div>
</div>
