{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
 #}

{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

<div class="drawer-trigger mobile-only">
  <div class="drawer-trigger-chevron"></div>
  Filter
</div>
<div class="views-exposed-form drawer mobile-only">
  <div class="views-exposed-widgets clearfix">
    <div class="drawer-wrapper">
      <div class="drawer-trigger">
          <div class="drawer-trigger-chevron"></div>
          {{ form.combine['#title'] }}
      </div>
      <div class="drawer drawer-{{ form.combine['#name'] }}">
        <div id="{{ form.combine['#id'] }}-wrapper" class="views-exposed-widget views-widget-{{ form.combine['#id'] }}">
          <div class="views-widget">
            {{ form.combine }}
          </div>
        </div>
      </div>
    </div>
    <div class="drawer-wrapper">
      <div class="drawer-trigger">
          <div class="drawer-trigger-chevron"></div>
          {{ form.tid['#title'] }}
      </div>
      <div class="drawer drawer-{{ form.tid['#name'] }}">
        <div id="{{ form.tid['#id'] }}-wrapper" class="views-exposed-widget views-widget-{{ form.tid['#id'] }}">
          <div class="views-widget">
            {{ form.tid }}
          </div>
        </div>
      </div>
    </div>
    {% if sort_by %}
      <div class="views-exposed-widget views-widget-sort-by">
        {{ sort_by }}
      </div>
      <div class="views-exposed-widget views-widget-sort-order">
        {{ sort_order }}
      </div>
    {% endif %}
    {% if items_per_page %}
      <div class="views-exposed-widget views-widget-per-page">
        {{ items_per_page }}
      </div>
    {% endif %}
    {% if offset %}
      <div class="views-exposed-widget views-widget-offset">
        {{ offset }}
      </div>
    {% endif %}
    {% if form.actions.submit %}
      <div class="views-exposed-widget views-submit-button">
        {{ form.actions.submit }}
      </div>
    {% endif %}
    {% if form.actions.reset %}
      <div class="views-exposed-widget views-reset-button">
        {{ form.actions.reset }}
      </div>
    {% endif %}
  </div>
</div>
