{#
 * @file
 * This template handles the layout of the views exposed filter form.
 *
 * Variables available:
 * - $widgets: An array of exposed form widgets. Each widget contains:
 * - $widget->label: The visible label to print. May be optional.
 * - $widget->operator: The operator for the widget. May be optional.
 * - $widget->widget: The widget itself.
 * - $sort_by: The select box to sort the view using an exposed form.
 * - $sort_order: The select box with the ASC, DESC options to define order. May
 *                be optional.
 * - $items_per_page: The select box with the available items per page. May be
 *                    optional.
 * - $offset: A textfield to define the offset of the view. May be optional.
 * - $reset_button: A button to reset the exposed filter applied. May be
 *                  optional.
 * - $button: The submit button for the form.
 *
 * @ingroup views_templates
 #}

{% if q %}
  {#  This ensures that, if clean URLs are off, the 'q' is added first so that  #}
{#  it shows up first in the URL.  #}
{{

  q
   }}
{% endif %}
<div class="drawer-trigger mobile-only ">
  <div class="drawer-trigger-chevron"></div>
  Filter
</div>
<div class="views-exposed-form drawer mobile-only">
  <div class="views-exposed-widgets clearfix">
{# TODO: review variable assignment:     {{ foreach(widget_groups as group_id: $widget_group):  }} #}
      <div class="drawer-wrapper">
        <div class="drawer-trigger">
            <div class="drawer-trigger-chevron"></div>
            {{ group_id }}
        </div>
        <div class="drawer drawer-{{ group_id }}">
{# TODO: review variable assignment:           {{ foreach (widget_group as widget_id: $widget):  }} #}
            <div id="{{ widget.id }}-wrapper" class="views-exposed-widget views-widget-{{ widget_id }}">
              {% if widget.label %}
                <label for="{{ widget.id }}">
                  {{ widget.label }}
                </label>
              {% endif %}
              {% if widget.operator %}
                <div class="views-operator">
                  {{ widget.operator }}
                </div>
              {% endif %}
              <div class="views-widget">
                {{ widget.widget }}
              </div>
            </div>
          {{ endforeach }}
        </div>
      </div>
    {{ endforeach }}
    {% if sort_by %}
      <div class="views-exposed-widget views-widget-sort-by">
        {{ sort_by }}
      </div>
      <div class="views-exposed-widget views-widget-sort-order">
        {{ sort_order }}
      </div>
    {% endif %}
    {% if items_per_page %}
      <div class="views-exposed-widget views-widget-per-page">
        {{ items_per_page }}
      </div>
    {% endif %}
    {% if offset %}
      <div class="views-exposed-widget views-widget-offset">
        {{ offset }}
      </div>
    {% endif %}
    <div class="views-exposed-widget views-submit-button">
      {{ button }}
    </div>
    {% if reset_button %}
      <div class="views-exposed-widget views-reset-button">
        {{ reset_button }}
      </div>
    {% endif %}
  </div>
</div>
