{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
#}

{% set left_region_classes = ['links-grid-left-rail subheader'] %}
{% set right_region_classes = ['links-grid-field-grid-links'] %}

{% if
  content.field_subheader['#items'].getValue()
  or content.field_description['#items'].getValue()
  or content.field_link['#items'].getValue()
%}
  {% set left_region_classes = left_region_classes|merge(['g--3']) %}
  {% set right_region_classes = right_region_classes|merge(['g--9']) %}
{% else %}
  {% set right_region_classes = right_region_classes|merge(['g--12']) %}
{% endif %}

<div {{ attributes.addClass('b b--g b--fw') }}>
  <div class="b-c">
    <div class="sh cl">
      {{ content.contextual_links }}
      {{ content.field_component_title }}
      {{ content.field_short_title }}
      {{ content.field_contact }}
    </div>

    <div class="flex-container">
      <div class="g">
        <div {{ create_attribute({'class': left_region_classes}) }}>
          {% if content.field_subheader['#items'].getValue() %}
            <div class="links-grid-field-subheader">
              <h3 class="t--intro title">{{ content.field_subheader }}</h3>
            </div>
          {% endif %}
          {% if content.field_description['#items'].getValue() %}
            <div class="links-grid-field-description">
              <p class="description">{{ content.field_description }}</p>
            </div>
          {% endif %}
          {{ content.field_link }}
        </div>
        <div {{ create_attribute({'class': right_region_classes}) }}>
          <div class="g">
            {{ content.field_grid_links }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
